
.accordion-group{
	.accordion-group__accordion{ margin:0 0 1vw; @include border-radius(0.8vw); overflow:hidden;
		.accordion-group__accordion-btn{ font-size:2.3vw; line-height:1; position:relative; padding: 2vw 3vw; @include border-radius(0); background-color:$grey; color:$white; border:0 none;
			&:after{ content:"+"; position:absolute; font-size:3.2vw; color:$white; @include vertical-align; right:2rem;}
			&:focus{ @include border-radius(0);}
			&.accordion-group__accordion-btn_expanded{ 
				&:after{ content:"-";}
			}	
			
			span{ font-size:1.2vw; display:inline-block; padding:0.5rem 2rem; margin-left:1rem; font-weight:600; background:$white; color:$grey; vertical-align: middle; line-height:1; @include border-radius(0.4vw);
				&.free{ background-color:$lightpink; color:$white;}
			}
		}	
		.accordion-group__accordion-panel{ background-color:$grey; color:$white; border:0 none; padding: 2vw 3vw; }
	}
	&.theme-white{
		 .accordion-group__accordion{ @include box-shadow(2px, 2px, 20px, 4px, rgba(0,0,0,0.2)); 
			.accordion-group__accordion-btn{ background-color:$white; color:$grey; 
				&:after{ color:$grey;}				
			}
			.accordion-group__accordion-panel{ background-color:$white; }
		 }		 
	}
	&.theme-grey{
		 .accordion-group__accordion{ @include box-shadow(2px, 2px, 20px, 4px, rgba(0,0,0,0.2)); 
			.accordion-group__accordion-btn{ background-color:$bggrey2; color:$grey; 
				&:after{ color:$grey;}
				&.accordion-group__accordion-btn_expanded{ background-color: $bggrey;}
			}
			.accordion-group__accordion-panel{ background-color:$bggrey; color:$grey;}
		 }		 
	}
	&.theme-pink-grey{
		 .accordion-group__accordion{ @include border-radius(0);
			.accordion-group__accordion-btn{ background-color:$grey; color:$white; padding: 1vw; font-size:1.3vw; font-weight:600; text-transform:uppercase; @include border-radius(0.4vw);
				&:after{ content:""; background-image:url(../images/arrow-right.svg); background-repeat:no-repeat; background-position:center center; color:$white; width:0.5vw; height:1vw;}
				&.accordion-group__accordion-btn_expanded{ background-color: $lightpink;
					&:after{ background-image:url(../images/arrow-bottom.svg); width:1vw; height:0.5vw;}
				}
			}
			.accordion-group__accordion-panel{ background-color: transparent; color:$grey; padding:0;}
		 }		 
	}
}

/*Media query*/
@media #{$desk} {		
	.accordion-group{
		.accordion-group__accordion{ 
			.accordion-group__accordion-btn{ font-size:2.6vw;
				&:after{ font-size:3.6vw;}
				span{ font-size:1.5vw;}
			}
		}		
	}
}	

@media #{$tablet-landscape} {	
	.accordion-group{
		.accordion-group__accordion{ margin:0 0 1rem; @include border-radius(1rem);
			.accordion-group__accordion-btn{ font-size:2.3rem; padding: 1.8rem 2rem;
				&:after{ font-size:3rem;}
				span{ font-size:1.4rem; @include border-radius(0.5rem);}
			}
			.accordion-group__accordion-panel{ padding: 1.8rem 2rem;}
		}		
	}
}

@media #{$tablet-portrait} {
	
}

@media #{$mobile} {		
	
}		