
.courses-slider{ 
	&.slick-slider{ margin:0; }
	.slick-slide{ padding:1vw;}	
	.slick-dots{ position:static; margin: 2rem 0 0;}
}

article.course{ @include box-shadow(2px, 3px, 16px, rgba(0,0,0,0.3)); @include border-radius(0.8vw); overflow:hidden;
	figure{  position:relative;
		.img-name{ width:100%; display:block; height:0; padding-bottom: 70%; background-position:center center; background-repeat:no-repeat; background-size: cover; background-color:$white;}		
		.overlay{ position:absolute; display:inline-block; left:0; top:0; font-size:1.1vw; text-transform:uppercase; color:$white; background:$lightpink; line-height:1; font-weight:600; padding:1rem 2rem; @include border-radius(0.8vw 0 0.8vw 0);}
	}
	.article-info{ text-align:center; background: $white; padding: 2rem 5%;
		h4{ font-size:1.6vw; min-height: 3vw; @include box-sizing; line-height:1; font-weight:600; margin-bottom:1vw;}	
		.author{ font-size:1.2vw; font-weight:600; margin-bottom:1vw;}		
	}
	.footer-container{ @extend .clear;
		.favorite{ float:left; background:url(../images/icon-favourite.png) center center no-repeat; background-size:contain; width:2vw; height:2vw; padding:0;
			&.active{ background-image: url(../images/icon-favourite-active.png); }
		}
		.rating{ float:right; background:$darkgrey; padding: 0.2vw 0.8vw; color:$white; @include border-radius(0.4vw); font-weight:600; font-size:1.1vw; text-transform:uppercase;
			span.star{ display:inline-block; background:url(../images/icon-star.png) center center no-repeat; background-size:contain; width:1vw; height:1vw; margin-right: 1rem;}
		}
	}
	.article-info-black{ background: $black;
		.author{font-family: $font-reg;font-weight: 500;}
		a{color: $white;}
	}
	&.disabled{ position:relative;
		.article-info{ opacity:0.6;}
		&:before{ content:''; position:absolute; z-index:10; left:0; top:0; width:100%; height:100%;}
	}
	&.bg-light-pink{ background-color:$m-grey;
		.article-info{ background-color:$m-grey;}
	}
	
	
	.event-date{ background:$lightpink; padding:1vw; text-align:center; color:$white; text-transform:uppercase; font-weight:600; line-height:1;}
}
.status-calculator{ padding:1.2vw; @include box-sizing;
	.status-bar{ width:80%; margin-right:2%; display:inline-block; position:relative; background:$fadepink; height: 1rem; @include box-sizing; @include border-radius(4px);
		&__value{ display:block; position:absolute; left:0; top:0; height:100%; background: $pink; @include box-sizing; @include border-radius(4px);}	
	}
	.status-percentage{ width:18%; display:inline-block; text-align:center; float:right; font-weight:600; font-size:1.2vw;}

	&.no-padding{ padding: 0;}
}

.quick-article-container{ padding: 4vw 0; position:relative;
	&.grey-bg2{
		&::before { content: ""; pointer-events: none; position: absolute; top: 100%; left: -30%; z-index: -1; width: 160%; height: 110%; background: $bggrey2; @include rotate(-25); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
	}
	&.grey-bg{
		&::before { content: ""; pointer-events: none; position: absolute; top: 100%; left: -30%; z-index: -1; width: 160%; height: 110%; background: $bggrey; @include rotate(-25); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
	}
	.page-container{ background:$white; padding: 3vw 3%; @include border-radius(0.8vw); overflow:hidden; @include box-shadow(2px, 0px, 16px, rgba(0,0,0,0.15));
		&.bg-black{ background-color: $grey;
			.heading__h3{ color:$white;
				span{ border-color:$white; color:$white; }
			}
		}
	}
	.heading__h3{ text-transform:uppercase; text-align:center;
		span{ display:inline-block; padding:0.5vw 4vw; border:0.3vw solid $black; @include border-radius(0.5vw);}
	}	
}


/*Media query*/

@media #{$desk} {	
	article.course { 
		figure{ 
			.overlay{ font-size:1.4vw;}
		}
		.article-info{ 
			h4{ font-size:1.8vw; min-height: 4vw;}
			.author{ font-size:1.5vw;}			
		}
		.footer-container{ 
			.rating{ font-size: 1.4vw;}
		}
	}
}
@media #{$tablet-landscape} {
	.courses-slider{ 
		.slick-slide{ padding:1rem;}
	}	
	article.course{ @include border-radius(1rem);
		figure{ 
			.overlay{ font-size:1.3rem; @include border-radius(1rem 0 1rem 0);}
		}
		.article-info{
			h4{ font-size:1.8rem; min-height: 4rem;}
			.author{ font-size:1.5rem;}			
		}
		.footer-container{ 
			.favorite{ width:2rem; height:2rem;}
			.rating{ font-size: 1.4rem; @include border-radius(0.5rem); padding:0.3rem 1rem;
				span.star{ width:1rem; height:1rem;}
			}
		}
	}
	.quick-article-container{ padding: 4rem 0;
		.page-container{ padding: 3rem 3%; @include border-radius(1rem);}
		.heading__h3{
			span{ padding:1rem 3rem; border:2px solid $black; @include border-radius(0.6rem);}
		}
	}
}

@media #{$tablet-portrait} {
	.quick-article-container{ padding: 3rem 0;
		.page-container{ padding: 3rem 5%; }
	}
}
@media #{$mobile} {		
	
}
