.button-margin{ padding:3rem 0;}

.button-container{ margin:2rem 0;
	&.align-center{ text-align:center;}
	&.no-margin{ margin:0;}
        &.inline{ display: inline-block;}
}

.button{
	display:inline-block; font-family:$font-reg; @include box-sizing; @include border-radius(0.4vw); line-height:1; position:relative; font-weight:600;
	
	&.white{ color:$white; border:2px solid $white;	
		&:hover, &:active, &:focus{ background: $white; color:$black;}
	}
	&.black{ color:$black; background: none; border:2px solid $black;	
		&:hover, &:active, &:focus{ background: $black; color:$white;}
	}
	&.grey{ color:$grey; background: none; border:2px solid $grey;	
		&:hover, &:active, &:focus{ background: $grey; color:$white;}
	}
	&.grey-fill{ color:$white; background: $grey; border:2px solid $grey;	
		&:hover, &:active, &:focus{ background: none; color:$grey;}
		&.no-hover{
			&:hover, &:active, &:focus{ background-color: $grey; color:$white;}
		}
	}
	
	&.pink{ background:$pink; color:$white; border:2px solid $pink;		
		&:hover, &:active, &:focus{ background: none; border-color:$pink; color:$pink;}
		&.no-hover{
			&:hover, &:active, &:focus{ background-color: $pink; color:$white;}
		}
	}
	&.lightpink{ background:$lightpink; color:$white; border:2px solid $lightpink;		
		&:hover, &:active, &:focus{ background: none; color:$lightpink;}
	}

	&.orange{ background:$orange; color:$white; border:2px solid $orange;		
		&:hover, &:active, &:focus{ background: none; border-color:$orange; color:$orange;}
	}
	&.blue{ background:$lightblue; color:$white; border:2px solid $lightblue;		
		&:hover, &:active, &:focus{ background: none; border-color:$lightblue; color:$lightblue;}
	}
	&.green{ background:$green; color:$white; border:2px solid $green;		
		&:hover, &:active, &:focus{ background: none; border-color:$green; color:$green;}
	}
	
	
	&.large{ font-size:2.2vw;}
	&.midsize{ font-size:1.8vw;}
	&.smallsize{ font-size:1.4vw;}
	&.tinysize{ font-size:1.2vw;}
	
	&.wide{ padding:1rem 6rem;}
	&.mid{ padding:1.2rem 4.5rem;}
	&.small{ padding:1.2rem 2rem;}
	&.tiny{ padding:1rem;}
	&.full-width{ padding:1.5rem; display:block; width:100%; }
	
	&.mLeft10{ margin-left:1rem;}
	&.mLeft20{ margin-left:2rem;}
	&.mLeft40{ margin-left:4rem;}
	
	&.mRight10{ margin-right:1rem;}
	&.mRight20{ margin-right:2rem;}
	&.mRight40{ margin-right:4rem;}
	
	&.mTop10{ margin-top:1rem;}
	&.mTop20{ margin-top:2rem;}
	
	&.mBot10{ margin-bottom:1rem;}
	&.mBot20{ margin-bottom:2rem;}
	
	&.caps{ text-transform:uppercase;}
	&.underline{ text-decoration:underline;}
	
	&.disabled{ opacity:0.5;}
		
}

/*	Icons */

.icon-down-caret{ 
	background:url(../images/icon-arrow-down-grey.svg) no-repeat; width:12px; height:8px; display:inline-block; margin-right: 1rem;
}
.icon-goto-top{ 
	background:url(../images/icon-goto-top.png) center top no-repeat; width:7px; height:16px; display:inline-block; margin-right: 1rem;
}
.icon-error{
	background:url(../images/icon-error.png) center top no-repeat; width:26px; height:24px; display:inline-block; margin-right: 1rem;	
}
.icon-success{
	background:url(../images/icon-success.png) center top no-repeat; width:26px; height:24px; display:inline-block; margin-right: 1rem;	
}
.icon-menu{
	background:url(../images/icon-menu.png) center center no-repeat; width:2vw; height:2vw; background-size:contain; display:inline-block; margin-right: 1rem;
}
.icon-search{
	background:url(../images/icon-search.png) center center no-repeat; width:2vw; height:2vw; background-size:contain; display:inline-block; margin-right: 1rem;	
}
.icon-pencil{
	background:url(../images/icon-pencil.svg) center center no-repeat; width:1.2vw; height:1.2vw; background-size:contain; display:inline-block; margin-right: 1rem;	
}
.icon-fb{
	background:url(../images/icon-fb.svg) center center no-repeat; width:1.4vw; height:1.4vw; background-size:contain; display:inline-block; vertical-align:middle; margin-left: 1rem;	
	&.black{ background-image:url(../images/icon-fb-black.svg); width:1.5vw; height:1.5vw;}
}
.icon-tw{
	background:url(../images/icon-tw.svg) center center no-repeat; width:1.5vw; height:1.2vw; background-size:contain; display:inline-block; vertical-align:middle; margin-left: 1rem;	
	&.black{ background-image:url(../images/icon-tw-black.svg); width:1.5vw; height:1.5vw;}
}
.icon-ig{
	background:url(../images/icon-ig-black.svg) center center no-repeat; width:1.5vw; height:1.5vw; background-size:contain; display:inline-block; vertical-align:middle; 	
}
.icon-info{
	background:url(../images/icon-info.svg) center center no-repeat; width:1vw; height:2.3vw; background-size:contain; @include box-sizing; display:inline-block; vertical-align:middle; margin-left: 1rem;	
	&.small{  width:0.6vw; height:1.6vw; border:1px solid $grey; @include border-radius(0.4vw); padding:0.8rem 1rem;}
}
.icon-amazon-pay{
	background:url(../images/icon-amazon-pay.png) center center no-repeat; @include box-shadow(4px, 4px, 16px, 2px, rgba(0,0,0,0.3)); @include border-radius(0.8vw); width: 9vw; height: 3.4vw; background-size:contain; display:inline-block; vertical-align:middle; margin-left: 1rem;	
}
.icon-line{
	background:url(../images/icon-line.png) center center no-repeat; @include box-shadow(4px, 4px, 16px, 2px, rgba(0,0,0,0.3)); @include border-radius(0.8vw); width: 3.4vw; height: 3.4vw; background-size:contain; display:inline-block; vertical-align:middle; margin-left: 1rem;	
}
.icon-favourite{
	background:url(../images/icon-favourite.svg) center center no-repeat; width:1.8vw; height:1.5vw; background-size:contain; display:inline-block; vertical-align:middle;	
	&.black{ background-image:url(../images/icon-favourite-grey.svg);}
}
.icon-sound-mute{
	background:url(../images/icon-mute-sound.svg) center center no-repeat; width:1vw; height:1.8vw; background-size:contain; display:inline-block; vertical-align:middle; margin-right:1rem;
}
.icon-delete{
	background:url(../images/icon-delete.svg) center center no-repeat; width:1.8vw; height:2.2vw; background-size:contain; display:inline-block; vertical-align:middle;
	&.white{ background-image:url(../images/icon-delete-white.svg); margin-right:0.5rem;}
	&.small{ width:1.4vw; height:1.8vw;}
}
.icon-trophy{
	background:url(../images/icon-trophy.svg) center center no-repeat; width:1.5vw; height:1.5vw; background-size:contain; display:inline-block; vertical-align:middle;
}
.icon-classroom{
	background:$lightpink url(../images/icon-classroom.svg) center center no-repeat; width:2vw; height:2vw; background-size:auto 80%; display:inline-block; vertical-align:middle;	
}
.icon-new-course{
	background:url(../images/icon-new-course.svg) center center no-repeat; width:1.3vw; height:1.9vw; background-size:contain; display:inline-block; vertical-align:middle; margin-right:1rem;
}
.icon-new-coupon{
	background:url(../images/icon-new-coupon.svg) center center no-repeat; width:1.6vw; height:1.9vw; background-size:contain; display:inline-block; vertical-align:middle; margin-right:1rem;
}
.icon-connect{
	background: url(../images/icon-connect.svg) center center no-repeat; width:1.9vw; height:1.8vw; background-size: contain; display:inline-block; vertical-align:middle;	
}
.icon-query{
	background: url(../images/icon-query.svg) center center no-repeat; width:1.8vw; height:1.8vw; background-size: contain; display:inline-block; vertical-align:middle;
}
.icon-quick-lesson{
	background: url(../images/icon-quick-lesson.svg) center center no-repeat; width:2vw; height:1.5vw; background-size: contain; display:inline-block; vertical-align:middle;
}

/*Media query*/

@media #{$desk} {	
	.button{
		&.tinysize{ font-size:1.4vw;}
	}
}
@media #{$tablet-landscape} {	
	.button{ @include border-radius(0.5rem);
		&.large{ font-size:1.8rem;}
		&.midsize{ font-size:1.6rem;}
		&.smallsize{ font-size:1.5rem;}
		&.tinysize{ font-size:1.4rem;}
	}
	
	.icon-menu{ width:2.4rem; height:2.4rem; }
	.icon-search{ width:2.4rem; height:2.4rem;}
	.icon-pencil{ width:1.5rem; height:1.5rem;}
	.icon-fb{ width:1.5rem; height:1.5rem;}
	.icon-tw{ width:1.6rem; height:1.2rem;}
	.icon-info{ width:1rem; height:2.3rem;}
	.icon-amazon-pay{ width: 10rem; height: 4rem; @include border-radius(1rem);}
	.icon-line{ width: 4rem; height: 4rem; @include border-radius(1rem);}
}

@media #{$tablet-portrait} {
	.button{
		&.large{ font-size:1.7rem;}
		&.midsize{ font-size:1.5rem;}
		&.smallsize{ font-size:1.4rem;}
		&.tinysize{ font-size:1.3rem;}
	}
}
@media #{$mobile} {		
	.button{		
		
	}
}
