
.category-landing{ padding: 4vw 0; position:relative; z-index: 1;	
	&::before { content: ""; pointer-events: none; position: absolute; top: 70%; left: -25%; z-index: -1; width: 150%; height: 40%; background: $bggrey2; 
	@include rotate(-25); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
	&::after { content: ""; pointer-events: none; position: absolute; top: 110%; left: -25%; z-index: -1; width: 150%; height: 60%; background: $bggrey; 
	@include rotate(-25); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
	
	.heading__h2{ font-weight:700; margin-bottom:1rem;}
	.copy{ font-size:1.2vw; width:50%;}	
	
	.category-titles{ padding:3.5vw 0; @include flexbox; @include flex-wrap(wrap); @include justify-content(space-between); @include align-items(center);
		.category-tiles{ width:20%; height:15vw; margin-bottom:1vw; position:relative; @include box-sizing;
			&.width1{ width:19%;}
			&.width2{ width:39%;}
			&.width3{ width:59%;}
			&.width5{ width:100%;}
			&.height1{ height:15vw;}
			&.height2{ height:31vw;}
			&.height3{ height:46vw;}
			
			> a{ position:absolute; z-index:5; width:98%; height:98%; left:0; top:0; @include box-shadow(2px, 3px, 16px, rgba(0,0,0,0.3)); @include border-radius(0.8vw); overflow:hidden;
				color:$white; text-align:center; font-size:2.3vw; font-weight:600; text-transform:uppercase; 
				@include flexbox; @include justify-content(center); @include flex-direction(column);
			}
			
			.black{ background-color:$grey;}
			.white{ background-color:$white; color:$black;}
			.pink{ background-color:$lightpink;}
		}
		.img-container{ overflow:hidden; @include box-shadow(2px, 3px, 16px, rgba(0,0,0,0.3)); @include border-radius(0.8vw);
			img{ max-width:100%; height:auto;}
		}
		.featured-content-promo-slider{ position:absolute; z-index:5; width:100%; height:100%; left:0; top:0;
			.slide-data{ width:100%; height:31vw; background-size:cover; background-position:center top;}
		}
	}
}

.category-promo{ padding: 1vw 0 6vw; position:relative; 
	&::before { content: ""; position: absolute; top: 70vw; left: -25%; width: 150%; height: 40vw; pointer-events: none; z-index: -1; background: $bggrey; 
	@include rotate(-25); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
	
	.m-page-container{ @include flexbox; @include align-items(center); @include box-shadow(4px, 4px, 16px, rgba(0,0,0,0.3)); background:$white; padding:2vw; @include border-radius(0.8vw);}
	.category-promo-image{ float:left; width:58%; margin-right:2%; line-height:0;
		img{ width:100%; height:auto; @include border-radius(0.8vw);}
	}
	.welcome-copy{ float:right; width:40%;
		h2{ font-weight:700; margin-bottom:1rem;}
		p{ font-size:1.2vw; margin-bottom:1rem;}
		
	}	
}

.course-detais-view{ position:relative;
	&::before { content: ""; position: absolute; top: 65vw; left: -25%; width: 150%; height: 40vw; pointer-events: none; z-index: -1; background: $bggrey2; 
	@include rotate(-25); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
	&::after { content: ""; position: absolute; top: 105vw; left: -25%; width: 150%; height: 40vw; pointer-events: none; z-index: -1; background: $bggrey; 
	@include rotate(-25); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
	
	.course-header-links{ @include flexbox; @include justify-content(space-between); margin-bottom:2.5vw;
		.sort-by{ width:25%;}
		.select-lang{ width:25%; text-align:right;}
		.filter{ width:25%; text-align:right;}
	}
	.course-articles{ @include flexbox; @include flex-wrap(wrap); @include justify-content(space-between); margin-bottom:3vw;
		.article-wrapper{ @include flexbox; width:28%; padding:2vw 0 3vw; @include box-sizing;
			article.course{ width:100%; @include flexbox; @include flex-direction(column);}
		}	
	}	
}

/*Media query*/
@media #{$desk} {		
	.category-landing {
		.copy{ font-size:1.6vw; width:70%;}
	}
	.category-promo{
		.welcome-copy{
			p{ font-size:1.6vw;}	
		}
	}
	.course-detais-view{ 
		.course-header-links{ 
			.sort-by{ width:50%;}
			.select-lang{ width:50%;}
		}
	}
}	

@media #{$tablet-landscape} {	
	.category-landing { padding: 4rem 0;
		.copy{ font-size:1.7rem;  width:100%;}
		
		.category-titles{ 
			.category-tiles{
				> a{ @include border-radius(1rem);}	
			}
			.img-container{ @include border-radius(1rem); }
		}
	}
	.category-promo{
		&::before {  top: 90vw; height: 40vh;}
		
		.m-page-container{ @include align-items(flex-start); @include border-radius(1rem); padding:1.5rem;}
		.welcome-copy{
			p{ font-size:1.7rem;}	
		}
	}
	.course-detais-view{ 
		&::before {  top: 60vw; height: 80vh; width:200%; left:-50%;}
		&::after {  top: 145vw; height: 110vh; width:200%; left:-50%;}
		.course-header-links{ }
		.course-articles{ 
			.article-wrapper{ width:45%;}
		}
	}
}

@media #{$tablet-portrait} {
	.category-landing { padding: 3rem 0;
		&::before { top:50%;}
		&::after { top:85%;}
		
		.copy{ font-size:1.6rem;}
		
		.category-titles{
			.category-tiles{ margin-bottom:2rem;
				&.width1{ width:49%;}
				&.width2{ width:49%;}
				&.width3{ width:49%;}	
				
				> a{ font-size: 2rem;}
			}
		}
	}
	.category-promo{ 
		&::before { height: 80vh; width:200%; left:-50%;}
		.m-page-container{ @include flex-direction(column);}
		.category-promo-image{ float:none; width:100%; margin-bottom:3rem;}
		.welcome-copy{ float:none; width:100%;
			p{ font-size:1.6rem;}	
		}
	}
	.course-detais-view{ 
		&::before {  top: 60vw; height: 80vh;}
		&::after {  top: 145vw; height: 110vh;}
		
		.course-articles{ 
			.article-wrapper{ width:100%; padding:2rem 0;}
		}
	}
}

@media #{$mobile} {		
	.category-landing { 
		&::before { top:30%; width: 200%; left: -70%;}
		&::after { top:68%; width: 200%; left: -70%;}		
		.category-titles{
			.category-tiles{
				&.width1{ width:100%;}
				&.width2{ width:100%;}
				&.width3{ width:98%;}
				&.width5{ width:100%;}
				&.height1{ height:20vw;}
				&.height2{ height:45vw;}
				&.height3{ height:50vw;}	
				
				> a{ font-size: 2rem;}
			}
			.featured-content-promo-slider{ 
				.slide-data{ height:50vw;}
			}
		}
	}
}		