.client-bg{ background-image:url('../images/client/bg.png');width: 100%; background-size: 100% auto; background-repeat-y: repeat; background-position: center top;}
.what-we-offer{ padding: 2vw 0 4vw;position: relative;
  //&::before { content: ""; pointer-events: none; position: absolute; top: 90%; left: -30%; z-index: -1; width: 160%; height:120%; background: $bggrey2; @include rotate(-25); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
}
.choose-gogetterz{ padding: 4vw 0 2vw;position: relative;
  //&::before { content: ""; pointer-events: none; position: absolute; top: 100%; left: -30%; z-index: -1; width: 160%; height:123%; background: $bggrey; @include rotate(-25); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
  .choose-gogetterz-boxes{
    padding: 3vw 0 2vw;
    @include flexbox;@include justify-content(space-between);@include flex-wrap(wrap);
    // @include align-items(center);
    .choose-gogetterz-box{
      width: 23.6%;@include border-radius(0.8vw);@include box-shadow(2px, 3px, 16px, rgba(0,0,0,0.3));position: relative;background: $white;
      .box-container{ width: 84%;margin: 0 auto;@include box-sizing; }
      .box-heading{ background: $black;color: $white;text-align: center;padding: 0 2vw;
        @include box-sizing;border-bottom-left-radius: 1vw;border-bottom-right-radius: 1vw;@include flexbox; @include align-items(center);height: 8.5vw;}
      .box-copy{ font-size: 1.2vw;font-family: $font-reg;padding: 1.5vw 0 6vw;@include box-sizing;}
      .box-footer{ position: absolute;bottom: 2.5%;color: $lightgrey;font-weight: 200;
      }
    }
  }
  .button-container{  text-align: center;}
}
.client-reviews{
  padding: 4vw 0 2vw;position: relative;
  //&::before { content: ""; pointer-events: none; position: absolute; top: 116%; left: -30%; z-index: -1; width: 160%; height:128%; background: $bggrey2; @include rotate(-25); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
}
.brands{
  padding: 4vw 0;position: relative;
  .brand-container{margin: 3vw 0 0;@include box-sizing;@include border-radius(0.8vw);@include box-shadow(2px, 3px, 16px, rgba(0,0,0,0.3));background: $white;
    .brand-container-grid{ width: 90%;margin: 0 auto;text-align: center;
      .brand-logo{ display: inline-block;width: 8%;vertical-align: middle;}
      img{ width: 100%;}
    }
  }
}

.service-introduction{  padding: 4vw 0;position: relative;
  //&::before { content: ""; pointer-events: none; position: absolute; top: 113%; left: -30%; z-index: -1; width: 160%; height:100%; background: $bggrey; @include rotate(-25); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
  .introduction-steps{padding: 3vw 0 0;
    @include flexbox;@include flex-wrap(wrap);@include justify-content(space-between);
    .service-step{  width: 23.6%;@include border-radius(0.8vw);@include box-shadow(2px, 3px, 16px, rgba(0,0,0,0.3));
      background: $black;color: $white;padding-bottom: 1.5vw;@include box-sizing;
      .step-header{ font-weight: 200;padding: 1vw 1.5vw;background: $bggrey3;
        border-top-left-radius: 0.8vw;border-top-right-radius: 0.8vw;
      }
      .step-sub-header{ padding: 2vw 1.5vw;}
      .step-copy{ font-size: 1.2vw;font-family: $font-reg;@include box-sizing;padding-left: 1.5vw;}
    }

  }
}
.contact-us{
  padding: 4vw 0;position: relative;
  //&::before { content: ""; pointer-events: none; position: absolute; top: 30%; left: -30%; z-index: -1; width: 160%; height:73%; background: $bggrey; @include rotate(-25); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
  //&::after { content: ""; pointer-events: none; position: absolute; top: 100%; left: -30%; z-index: -1; width: 160%; height:65%; background: $bggrey2; @include rotate(-25); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
  .form-container{
    margin:3vw 0;width: 41%;@include border-radius(0.8vw);@include box-shadow(2px, 3px, 16px, rgba(0,0,0,0.3));float: left;background: $white;
    .form-item{
      width: 80%;margin: 0 auto;padding: 2vw 0;
      form{ padding-top: 1vw;
        input[type="text"],textarea{
          background: $bggrey4;width: 100%;display: block;margin-bottom: 1vw;padding: 0.6vw 1vw;font-size: 1.25vw;font-weight: 600;
          @include border-radius(0.8vw);@include box-sizing;border: 0 none;
        }
        p{font-size: 1.25vw;font-weight: 600;}
        .checkbox-container{  padding-top: 2vw;}
        .button-container{  text-align: right;}
      }
    }
  }
  .contact-us-image{  float: right;width: 48%;margin: 3vw 0;}
}

@media #{$laptops} {
  .choose-gogetterz{
    .choose-gogetterz-boxes{
      .choose-gogetterz-box{
        .box-copy{ font-size: 1.4vw;}
      }
    }
  }
  .service-introduction{
    .introduction-steps{
      .service-step{
        .step-copy{ font-size: 1.4vw;}
      }
    }
  }
  .contact-us{
    .form-container{
      .form-item{
        form{
          input[type="text"],textarea{  font-size: 1.4vw;}
          p{ font-size: 1.45vw;}
        }
      }
    }
  }
}
@media #{$desk} {
  .choose-gogetterz{
    .choose-gogetterz-boxes{
      .choose-gogetterz-box{
        .box-heading{ height: 10vw;}
        .box-copy{ font-size: 1.6vw;}
      }
    }
  }
  .service-introduction{
    .introduction-steps{
      .service-step{
        .step-copy{ font-size: 1.6vw;}
      }
    }
  }
  .contact-us{
    .form-container{ width: 50%;
      .form-item{
        form{
          input[type="text"],textarea{  font-size: 1.6vw; padding: 1.2vw 1vw;}
          p{ font-size: 1.65vw;}
        }
      }
    }
  }
}
@media #{$tablet-landscape} {
  .client-bg{ background-image:url('../images/mob-bg.png');}
  .what-we-offer{
    //&::before {top: 90%;left: -59%;width: 181%;height: 140%;}
  }
  .choose-gogetterz{
    //&::before{ top: 85%;left: -90%;width: 215%;height: 110%;}
    .choose-gogetterz-boxes{

      .choose-gogetterz-box{ width: 49%;margin-bottom: 3rem;
        .box-heading{ height: 12vw;}
        .box-copy{ font-size: 1.6rem; padding: 1.5vw 0 10rem;}
      }
    }
  }
  .client-reviews{
    //&::before { top: 81%;left: -64%;width: 186%;height: 128%;}
  }
  .service-introduction{
    .introduction-steps{
      .service-step{ width: 49%;margin-bottom: 3rem;padding-bottom: 3rem;
        .step-header{ padding: 2rem 1.5rem;}
        .step-sub-header{ padding: 1rem 1.5rem;}
        .step-copy{ font-size: 1.6rem;padding-left: 1.5rem;}
      }
    }
  }
  .brands{
    .brand-container {
      .brand-container-grid{
        .brand-logo{
          width: 15%;
        }
      }
    }
  }
  .contact-us{
    //&::before{ top: 0%;left: -39%;width: 166%;height: 87%;}
    //&::after{ top: 82%;left: -30%;width: 160%;height: 54%;}
    .form-container{ width: 56%;
      .form-item{
        form{
          input[type="text"],textarea{  font-size: 1.6rem;}
          p{ font-size: 1.65rem;}
        }
      }
    }
    .contact-us-image { width: 44%;}
  }
}

@media #{$tablet-portrait} {
  .what-we-offer{
    //&::before { top: 38%;left: -105%;width: 250%;height: 140%;}
  }
  .choose-gogetterz{
    //&::before{ top: 50%;left: -137%;width: 270%;height: 110%;}
    .choose-gogetterz-boxes{
      .choose-gogetterz-box{ width: 100%;margin-bottom: 3rem;
        .box-heading{ height: 20vw;}
        .box-copy{ font-size: 1.6rem; padding: 1.5vw 0 6rem;}
      }
    }
  }
  .brands{
    .brand-container {
      .brand-container-grid{
        .brand-logo{
          width: 20%;
        }
      }
    }
  }
  .client-reviews{
    //&::before { top: 55%;left: -185%;width: 320%;height: 128%;}
  }
  .service-introduction{
    .introduction-steps{
      .service-step{ width: 100%;margin-bottom: 3rem;
        .step-copy{ font-size: 1.6rem;}
      }
    }
  }
  .contact-us{
    //&::before{ top: 0%;left: -100%;width: 230%;height: 92%;}
    //&::after{ top: 82%;left: -30%;width: 160%;height: 54%;}
    .form-container{ width: 100%;float: none;
      .form-item{
        form{
          input[type="text"],textarea{  font-size: 1.6rem; margin-bottom: 1.5rem;padding: 1rem 1rem;}
          p{ font-size: 1.65rem;}
        }
      }
    }
    .contact-us-image { width: 100%; float: none}
  }
}