/* colors */

$black:				#1f212f;
$white:				#FFFFFF;
$darkblue: 			#1f212f;
$grey: 				#292935;
$lightblue:     	#2d2d39;
$pink: 				#ff4d4d;
$lightpink:			#fe6868;
$fadepink: 			#f1e5e5;
$darkgrey: 			#303030;

$bggrey: 			#dce1ea;
$bggrey2: 			#e6eaf2;
$bggrey3:			#343542;
$bggrey4:			#eef1f7;
$bggrey5: 			#dadada;
$txtgrey: 			#303030;
$lightgrey:         #aaaaad;
$m-grey:       		#f1f1f1;

/* Secondary Colors */

$red: 				#d53838;
$purple: 			#a40cad;
$green: 			#0e9a91;

$orange: 			#c94a05;
