html{ font-size: 62.5%; /* Defining root font 10px*/}

body{ font-family: $font-mid; font-size: 1vw; background:$white; color:$black; margin:0; padding:0; font-weight: 400; overflow-y: scroll; overflow-x: hidden;}

.loader{ background-color: $white; width: 100%;	height: 100%; position: fixed; z-index: 1001; text-align: center; top:0; left:0;
	.loader-img{ @include vertical-align; width:100%; left:0;
		img{ }
	}
}

/*	Overwriting some default css 	*/

a, a:focus, a:active,  a:hover{ text-decoration: none; outline: 0 none;}
a{ color:$darkgrey; text-decoration:none;
	img{ outline : none; border : 0;}
}

input, textarea, button{ border:0 none;
  -webkit-appearance: none;
}

ul{ margin:0; padding:0; list-style:none;}
ol{ margin:0; padding:0;}
ul li, p{ margin:0; padding:0;}
label{ font-weight:normal; margin:0;}

h1,h2,h3,h4,h5,h6{ font-weight: normal; margin: 0; line-height:1;}

::-webkit-input-placeholder { color: $txtgrey;}
:-moz-placeholder { color: $txtgrey; opacity: 1;}
::-moz-placeholder { color: $txtgrey; opacity: 1;}
:-ms-input-placeholder { color: $txtgrey;}
::placeholder{ color: $txtgrey; opacity: 1;}

*:focus{ outline: none;}

/*	Common classes	*/

.left{ float:left;}
.right{ float:right;}
.center{ text-align:center;}
.justify{ text-align: justify;}
.hide{ display:none;}
.show{ display:block;}
.mobile{ display:none;}
.nonmobile{ display:block;}
.no-border{ border:0 none !important;}

.clear{ clear:both;
  &:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;}
}
.clearfix:before,.clearfix:after { content: " "; display: table;}
.clearfix:after{ clear: both;}
.clearfix{ *zoom: 1;}

.main-container{ width:100%; overflow:hidden;}
.page-container{ @include box-sizing; @extend .clear; width:88%; margin:0 auto; position:relative; z-index:2;}
.m-page-container{ @include box-sizing; @extend .clear; width:82%; margin:0 auto; position:relative; z-index:2;}
.flex-wrapper{ @include flexbox; @include align-items(center);}

.vertical-align{ @include vertical-align; width:100%;}

.divider{ margin: 2rem 0;
	&.grey-border{ height:2px; background: $bggrey;}
	&.white-border{ height:2px; background: $white;}
}

/*	Common listing	- Just add 'listing' wrapper class above any ul or ol blocks */

.listing{ line-height:1.2;
	ol, ul{ margin-left: 2rem;
		li {  list-style-position: outside; margin-bottom: 1rem;}	
	}
	ul{ list-style-type: disc; margin-top:0.5rem;
		ul { list-style-type: circle;
			ul{ list-style-type: square;
				ul{ list-style-type: upper-alpha;}
			}
		}				
	}
	ol{ list-style-type:decimal;
		ol{ list-style-type: upper-roman;
			ol{ list-style-type: lower-roman;
				ol{ list-style-type: lower-alpha;}
			}
		}
	}
}
/**/

/*	Common table style	- Just add 'table-grid' wrapper class above any table blocks */

.table-grid{ margin-bottom:2rem; overflow-x:auto;
	table {	border-collapse: collapse; width: 100%;
		th, td { padding: 1rem; border:1px solid $grey; text-align:left;}	
		tr:nth-child(even){background-color: $grey}	
		th { background-color: $grey; color: white;}
	}
}

/* Common Text Alignment Classes */
.text-right { text-align:right;}
.text-left { text-align:left;}
.text-center { text-align:center;}
.caps{ text-transform:uppercase;}

/*Error*/
.error-msg{ color:$red; margin-bottom:2rem;}

/*Common heading*/
.heading{ @extend .clear; margin-bottom:2vw;
	&__h1{ font-size:4vw; @include box-sizing; line-height:1; font-weight:600;}
	&__h2{ font-size:3vw; @include box-sizing; line-height:1; font-weight:600;}	
	&__h3{ font-size:2.3vw; @include box-sizing; line-height:1; font-weight:600;}
	&__h4{ font-size:1.8vw; @include box-sizing; line-height:1; font-weight:600;}	
	&__h5{ font-size:1.6vw; @include box-sizing; line-height:1; font-weight:600;}
	&__h6{ font-size:1.2vw; @include box-sizing; line-height:1; font-weight:600;}
}
.notifications{ display: inline-flex; align-items: center; justify-content: center; font-size:1.3rem; padding:1rem; background-color: $pink; color:$white; min-width: 1em; line-height:1;  width:1.3rem; height:1.3rem;  @include border-radius(50%); vertical-align: middle;
	&:before {
	  content:''; float: left; width: auto; padding-bottom: 100%;
	}		
}


/*Media query*/

@media #{$laptops} {
	.page-container{ width:90%;}
	.m-page-container{ width:88%;}
	.heading{
		&__h5{ font-size:1.8vw;}
	}
}
@media #{$desk} {		
	.page-container{ width:94%;}
	.m-page-container{ width:90%;}	
	.heading{ 
		&__h1{ font-size:4.5vw;}
		&__h2{ font-size:3.4vw;}	
		&__h3{ font-size:2.8vw;}
		&__h4{ font-size:2.1vw;}	
		&__h5{ font-size:1.9vw;}
		&__h6{ font-size:1.5vw;}
	}
}	

@media #{$tablet-landscape} {	
	.mobile{ display:block;}
	.nonmobile{ display:none;}

	.page-container{ width:90%;}
	.heading{ 
		&__h1{ font-size:3.4rem;}
		&__h2{ font-size:2.6rem;}	
		&__h3{ font-size:2.1rem;}
		&__h4{ font-size:1.9rem;}	
		&__h5{ font-size:1.8rem;}
		&__h6{ font-size:1.7rem;}
	}
}

@media #{$tablet-portrait} {
	.heading{ 
		&__h1{ font-size:3.1rem;}
		&__h2{ font-size:2.4rem;}	
		&__h3{ font-size:1.8rem;}
		&__h4{ font-size:1.7rem;}	
		&__h5{ font-size:1.7rem;}
		&__h6{ font-size:1.6rem;}
	}
}
@media #{$mobile} {		

}	

/*	Hides Angular emlements if they are not loaded completely*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
  display: none !important;
}
