
.learner-container{
	@extend .clear; margin-bottom:5vw;	
}

.learner-left-links{ float:left; width:15%; margin-right:2%;
	.link-dashboard{ text-align:center; font-weight:600; padding:1vw 0 2vw;
		a{ text-decoration:none;
			&:hover{ text-decoration:underline;}
		}	
	}
	.lessons{
		li{ padding: 1vw; background:$m-grey; @include border-radius(0.4vw); margin:1rem 0;
			&.active{ background-color: $bggrey5;}
			h5{ font-size:1.2vw; font-weight:600; margin-bottom:1rem;}
			p{ font-size:1.1vw; line-height:1;}
		}	
	}
}
.learner-content-area{ float:right; width:83%;
	.learner-heading { @extend .clear; margin-bottom:2vw;	
		.left{ width:60%;}
		.right{ width:35%;}
		.status-calculator{ padding:0;
			.status-bar{ float:none; width:100%; margin:0; background:$lightgrey;
				&__value{ background:$grey;}
			}
			.status-percentage{ float:none; width:100%; text-align:right; line-height:1;}
		}
	}
	.couse-lesson{ background:$m-grey; @include border-radius(0.4vw); 
		.next-prev-buttons{ @extend .clear; 
			.next-button{ float:right;
				a{ display:inline-block; @include border-radius(0 0.4vw 0 0.4vw); background:$grey; padding:0.5vw 2vw; font-size:1.2vw; color:$white;}	
			}
			.prev-button{
				a{ display:inline-block; @include border-radius(0.4vw 0 0.4vw 0); background:$bggrey5; padding:0.5vw 2vw; font-size:1.2vw; color:$grey;}	
			}
		}
		.course-lesson-copy{ padding:3vw 4%;
			.heading__h4{ margin-bottom:3vw;}
			.video-container{ position: relative; width: 100%; height: 0; margin-bottom:2vw; padding-bottom: 56.25%; @include border-radius(0.8vw); overflow:hidden;
				video, iframe{ position: absolute; left:0; top:0; width: 100%; height: 100%;}
			}
			.lesson-info{ font-size:1.1vw; margin-bottom:3vw;
				p{ margin-bottom:1rem;}
			}
			.download-material{ @extend .clear; margin-bottom:3vw;
				.heading__h6{ margin-bottom:1vw;}
				li{ float:left; width: 5%; margin-right:1%;}
				figure{
					span.icon{ background:$grey; display:block; position:relative; width:100%; height:0; padding-bottom:100%; background-position:center center; background-repeat:no-repeat; background-size:60% auto; @include border-radius(0.8vw);
						&.icon-video{ background-image:url(../images/icon-video.svg);}
						&.icon-audio{ background-image:url(../images/icon-audio.svg);}
						&.icon-pdf{ background-image:url(../images/icon-pdf.svg);}
						&.icon-text{ background-image:url(../images/icon-text.svg);}
						&.icon-ms-office{ background-image:url(../images/icon-ms-office.svg);}
						&.icon-test{ background-image:url(../images/icon-test.svg);}
					}
				}	
			}
		}
	}
}

.question-set{
	.question-container{ margin-bottom:2vw;
		.question{ font-size:1.2vw; font-weight:600; padding-left:2vw; position:relative; margin-bottom:1rem;
			span.no{ position:absolute; left:0; top:0;}
		}
		.question-options{ padding-left:2vw;
			.radio-item{ margin: 0 0 1rem; font-size:1.1vw; 
				.radio-btn {
					&:checked + .radio-label {
						&::before {	background: $lightpink;}
					}
				}
				.radio-label{ padding: 0 0 0 2vw;
					&:before{ width:1.5vw; height:1.5vw; margin-top:0.2vw; background-color:$bggrey5;}
				}
			}
		}	
	}	
}

/*Media query*/
@media #{$desk} {		
	
}	

@media #{$tablet-landscape} {
	
}

@media #{$tablet-portrait} {
	
}
@media #{$mobile} {		
	
}	