
.enroll-now-button{ position:fixed; top:10%; left:0; width:100%; text-align:center; z-index:100; margin:0; padding:2rem 0;
	&.sticky{ top:0; background:rgba(0,0,0,0.60);}
}

.search-courses{ margin-bottom:3vw;
	.form-container{ float:right; width: 17.5vw; border:2px solid $grey; @include border-radius(0.8vw); overflow:hidden;
		input[type="text"]{ float:left; width:80%; border:0 none; @include box-sizing; font-size:1.2vw; padding:1rem; font-weight:400; color:$grey;}
		input[type="submit"], button{ float:left; width:20%; border:0 none; @include box-sizing; font-size:1.2vw; background-color:$white; padding:1rem; color:$white;
			background-image:url(../images/icon-search.png); background-repeat:no-repeat; background-position:center center; background-size: 45% auto;
		}
		&.red{ border-color:$red;
			input[type="text"]{ background-color:$red; color:$white;
				&::-webkit-input-placeholder { color: $white;}
				&:-moz-placeholder { color: $white; opacity: 1;}
				&::-moz-placeholder { color: $white; opacity: 1;}
				&:-ms-input-placeholder { color: $white;}
				&::placeholder{ color: $white;}
			}
			input[type="submit"], button{ background-color:$red; color:$white; background-image:url(../images/icon-search-white.png);}
		}
	}
}

.course-info{ padding: 0 0 6vw; position:relative; 
	&::before { content: ""; position: absolute; top: 80vw; left: -50%; width: 200%; height: 60vw; pointer-events: none; z-index: -1; background: $bggrey2; 
	@include rotate(-25); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
	
	.course-info-header{ 
		h2{ text-transform:uppercase; margin-bottom:1rem;}
		.rating{ display:inline-block; vertical-align:top; background:$darkgrey; padding: 0.8rem 1rem; margin-left:1rem; color:$white; @include border-radius(0.4vw); font-weight:600; font-size:1.3vw; text-transform:uppercase;
			span.star{ display:inline-block; background:url(../images/icon-star.png) center center no-repeat; background-size:contain; width:1.3vw; height:1.3vw; margin-right: 1rem;}
		}
		.other-links{ @extend .clear; margin-bottom:2rem;
			.links{ float:left; margin-right:2rem; font-size:1.2vw; color: $grey; font-weight:600;
				.icon{ width:1.5vw; height:1.5vw; margin-right:0.5rem; display:inline-block; vertical-align:middle; background-position: center top; background-repeat:no-repeat; background-size:contain;}
				&.favourites{ 
					.icon{ background-image: url(../images/icon-black-heart.svg);}
				}
				&.share-courses{
					.icon{ background-image: url(../images/icon-share.svg);}	
				}
				&.views{
					.icon{ width:2vw; background-image: url(../images/icon-views.svg);}	
				}
			}
		}
	}
	.course-content{ @extend .clear;
		.course-content-image{ float:right; width:47%; line-height:0; position:relative;
			a{ display:block; position:relative;}
			span.play{ background:url(../images/icon-play.svg) no-repeat center center; background-size:contain; @include both-align-center; z-index:5; width:10%; height:17%;}
			img{ width:100%; height:auto; @include border-radius(0.8vw); @include box-shadow(2px, 3px, 16px, 4px, rgba(0,0,0,0.3));}
		}
		.course-text{ float:left; width:47%;
			.fee{ font-size:1.2vw; line-height:1; margin-bottom:1vw;
				span{ background:$lightpink; padding:1rem; display:inline-block; color:$white; font-weight:600; @include border-radius(0.4vw);}
			}
			h2{ font-weight:700; margin-bottom:1rem;}
			p{ font-size:1.2vw; margin-bottom:1rem;}
			
		}	
	}		
}
.course-curriculum-accordion{ padding: 0 0 6vw; position:relative;
	&::before { content: ""; position: absolute; top: 100vw; left: -50%; width: 200%; height: 70vw; pointer-events: none; z-index: -1; background: $bggrey; 
	@include rotate(-25); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
	h2{ margin-bottom:2rem;}	
}
.accordion-group{	
	&.theme-white{		 
		 .lessons{ 
		 	.lesson-info{  @include box-shadow(2px, 2px, 12px, 2px, rgba(0,0,0,0.2)); }
		 }
	}
	.pay-chapter{ text-align:center; font-size:1.2vw; margin-bottom:3vw;}
	.lessons{ @include flexbox; @include flex-wrap(wrap); @include justify-content(space-between); position:relative;
		&.disabled{ opacity:0.5; 
			&:before { content:""; position:absolute; z-index:10; left:0; top:0; width:100%; height:100%;}
		}
		.lesson-info{ @include flexbox; @include flex-direction(column); width:22%; background:$white; color:$grey; @include box-sizing; padding:2vw 2vw 1vw; margin-bottom:2vw; @include border-radius(0.8vw);
			h4{ margin-bottom:2rem;}
			p{ font-size:1.1vw; @include flex(1 0 auto);}
		}
	}
}

.course-summary{ padding: 0 0 6vw; position:relative;
	&::before { content: ""; position: absolute; top: 80vw; left: -50%; width: 200%; height: 70vw; pointer-events: none; z-index: -1; background: $bggrey2; 
	@include rotate(-25); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
	
	.m-page-container{ @include box-shadow(4px, 4px, 16px, rgba(0,0,0,0.3)); background:$white; padding:3vw 5%; @include border-radius(0.8vw);}
	.heading__h2{ margin-bottom:2rem;}
	.heading__h3{ margin-bottom:2rem;}
	.copy{ margin-bottom:3rem; font-size:1.2vw;
		p{ margin-bottom:1rem;}
	}
}

.what-i-learn{ padding: 0 0 6vw; @extend .clear; position:relative;
	&::before { content: ""; position: absolute; top: 60vw; left: -50%; width: 200%; height: 70vw; pointer-events: none; z-index: -1; background: $bggrey; 
	@include rotate(-25); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
	
	.info-image{ float:left; width:46%; margin-top:3vw;
		img{ width:100%; height:auto;}
	}
	.info-copy{ float:right; width:48%; margin-left: 2%; font-size:1.2vw;
		h2{ margin-bottom:2vw;}	
		li{ margin-bottom:2rem;}	
	}
}

.expert-container{ padding: 0 0 6vw; position:relative;
	&::before { content: ""; position: absolute; top: 75vw; left: -50%; width: 200%; height: 70vw; pointer-events: none; z-index: -1; background: $bggrey2; 
	@include rotate(-25); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
	
	.m-page-container{ @include box-shadow(4px, 4px, 16px, rgba(0,0,0,0.3)); background:$white; padding:4vw 4%; @include border-radius(0.8vw);}	
	.about-expert{ @extend .clear; margin-bottom:4vw;
		&.no-margin{ margin-bottom:0;}
	}
	.info-image{ float:left; width:26%;
		figure{ @include box-shadow(2px, 2px, 20px, 4px, rgba(0,0,0,0.2)); position:relative; @include border-radius(0.8vw); overflow:hidden;
			span.expert-img{ display:block; width:100%; height:0; padding-bottom:100%; background-position:center top; background-size:cover;}
			figcaption{ text-align:center; background:$white; padding:1rem;}
		}
		img{ width:100%; height:auto; display:block;}
		.social-links{ text-align:center;
			a{ display:inline-block; width:2vw; height:2vw; margin:0 0.4rem; background: no-repeat center center; background-size:contain;
				&.ig{ background-image: url(../images/share-about-ig.svg); }
				&.tw{ background-image: url(../images/share-about-tw.svg);}
				&.fb{ background-image: url(../images/share-about-fb.svg);}
			}
		}
		
	}
	.info-copy{ float:right; width:70%; font-size:1.2vw;
		h2{ margin-bottom:2vw;}	
		li{ margin-bottom:2rem;}
		p{ margin-bottom:2rem;}
	}
	/*More courses*/
	.more-courses-container{
		.heading__h3{ margin-bottom:2rem;}
	}
}

.upcoming-events{ padding: 0 0 6vw; position:relative;
	&::before { content: ""; position: absolute; top: 65vw; left: -50%; width: 200%; height: 70vw; pointer-events: none; z-index: -1; background: $bggrey; 
	@include rotate(-25); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
	
	h2{ margin-bottom:2rem;}	
}

.user-reviews{ padding: 0 0 6vw; position:relative;
	&::before { content: ""; position: absolute; top: 54vw; left: -50%; width: 200%; height: 70vw; pointer-events: none; z-index: -1; background: $bggrey2; 
	@include rotate(-25); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
}

.course-details-recommended{ position:relative;
	&::before { content: ""; position: absolute; top: 60vw; left: -50%; width: 200%; height: 70vw; pointer-events: none; z-index: -1; background: $bggrey; 
	@include rotate(-25); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
}



/*Media query*/
@media #{$desk} {		
	.search-courses{ margin-bottom:4vw;
		.form-container{ width: 40%;
			input[type="text"]{ font-size:1.4vw;}
			input[type="submit"], button{ font-size:1.4vw;}
		}
	}
	.course-info{ 
		.course-info-header{
			.rating{ font-size:1.5vw;}
			.other-links .links{ font-size:1.4vw;}
		}
		.course-content{ 
			.course-text{ 
				.fee, p{ font-size:1.4vw;}
			}
		}
	}
	
	.accordion-group{		
		.pay-chapter{ font-size:1.4vw;}
		.lessons{
			.lesson-info{
				p{ font-size:1.4vw;}	
			}
		}
	}
	.course-summary{ 
		
		.copy{ font-size:1.5vw;}
	}
	.what-i-learn{ 		
		.info-copy{ font-size:1.5vw;}
	}
	.expert-container{		
		.info-copy{ font-size:1.5vw;}
	}
	
}	

@media #{$tablet-landscape} {
	.enroll-now-button{ padding:1rem 0;}
	.search-courses{ margin-bottom:4rem;
		.form-container{ width: 100%; @include border-radius(1rem);
			input[type="text"]{ font-size:1.3rem;}
			input[type="submit"], button{ font-size:1.3rem; background-size:auto 80%;}
		}
	}
	.course-info{ padding-bottom:4rem;		
		&::before { height: 110%;}
		.course-info-header{
			.rating{ font-size:1.6rem; @include border-radius(0.5rem);
				span.star{ width:1.5rem; height:1.5rem;}
			}
			.other-links .links{ font-size:1.6rem;
				.icon{ width:1.6rem; height:1.6rem; }
				&.views{
					.icon{ width:2.4rem;}	
				}
			}
			
		}
		.course-content{ 
			.course-content-image{ float:none; width:100%; margin-bottom:3rem;
				img{ @include border-radius(1rem);}
			}
			.course-text{ float:none; width:100%;
				.fee{ font-size:1.6rem;
					span{ @include border-radius(0.5rem);}
				} 
				p{ font-size:1.6rem;}
			}
		}
	}
	.accordion-group{		
		.pay-chapter{ font-size:1.5rem; margin-bottom:2.4rem;}
		.lessons{
			.lesson-info{ @include border-radius(1rem); padding:2rem 4% 1rem; width:46%; margin-bottom: 2rem;
				p{ font-size:1.4rem;}	
			}
		}
		
	}
	.course-curriculum-accordion{ padding-bottom:4rem;
		&::before { top:70vw; height: 140%;}
	}
	.course-summary{ padding-bottom:4rem;
		&::before { top: 50vw; left: -70%; height: 140%;}
		
		.m-page-container{ @include border-radius(1rem);}
		.copy{ font-size:1.6rem;}
	}
	.what-i-learn{ padding-bottom:4rem;
		&::before { top: 50vw; left: -70%; height: 140%;}
		
		.info-image{ float:none; width:100%; text-align:center; margin-bottom:3rem;
			img{ width:90%;}
		}
		.info-copy{ font-size:1.6rem; float:none; width:100%;}
	}
	.expert-container{ padding-bottom:4rem;
		&::before { height: 140%;}
		
		.m-page-container{ @include border-radius(1rem); padding: 3rem 5%;}
		.info-image{ width: 30%;
			figure{ @include border-radius(1rem);}
			.social-links a{ width:2rem; height:2rem;}
		}
		.info-copy{ font-size:1.6rem; width: 65%;}
	}
	.upcoming-events{ 
		&::before { left: -65%; height: 140%;}
	}
	.user-reviews{
		&::before { height: 140%;}
	}
	.course-details-recommended{ 
		&::before { height: 140%;}
	}
}

@media #{$tablet-portrait} {
	.course-info{ 
		&::before { @include rotate(-15);}
		.course-info-header{
			.rating{ padding: 0.5rem 1rem;}			
		}
	}
	.course-curriculum-accordion{ 
		&::before { top: 30vw; @include rotate(-15); width:300%; left:-125%;}
	}
	.accordion-group{
		.pay-chapter{ 
			span{ display:block; margin:0.5rem 0;}
		}
		.lessons{
			.lesson-info{ 
				h4{ margin-bottom:1rem;}
				p{ font-size:1.4rem;}	
			}
		}
	}
	.course-summary{ 
		&::before { @include rotate(-15); width:300%; left:-155%;}
		.m-page-container{ padding: 3rem 2rem;}
	}
	.what-i-learn{ 
		&::before { @include rotate(-15); width:300%; left:-140%;}
	}
	.expert-container{
		&::before { @include rotate(-15); width:300%; left:-155%;}
		.info-image{ width: 100%; float:none; margin-bottom:3rem;}
		.info-copy{ font-size:1.6rem; width: 100%; float:none;}
	}
	.upcoming-events{ 
		&::before { @include rotate(-15); width:300%; left:-140%;}
	}
	.user-reviews{
		&::before { @include rotate(-15);  width:300%; left:-155%;}
	}
	.course-details-recommended{ 
		&::before { @include rotate(-15);  width:300%; left:-155%;}
	}
}
@media #{$mobile} {		
	.accordion-group{		
		.lessons{
			.lesson-info{ width:100%;}
		}
	}
}		