/* Common styles of menus */

.dl-menuwrapper {
   max-width: 300px; float: left; position: static; -webkit-perspective: 1000px; perspective: 1000px; -webkit-perspective-origin: 50% 200%; perspective-origin: 50% 200%;
  
	ul { background: $grey; padding: 0; list-style: none; -webkit-transform-style: preserve-3d; transform-style: preserve-3d;
		li {
			position: relative;
			a { display: block; position: relative; padding: 1.5vw 1vw 1.5vw 3vw; font-size: 1.8vw; outline: none; color:$white; }
		}
	}
}

.no-touch .dl-menuwrapper li a:hover {
  background: $black;
}

.dl-menuwrapper {
  li {
    &.dl-back {
		> a { padding: 1.5vw 1vw 1.5vw 3vw; background: $black;}
		&:after {
			position: absolute; content:""; left:1rem; @include vertical-align; width:1vw; height:1vw; background: url(../images/arrow-left.svg); background-repeat:no-repeat; background-position:center center; background-size: contain;
		}
    }
    > a:not(:only-child):after {
    	position: absolute; content:""; @include vertical-align; width:1vw; height:1vw; background: url(../images/arrow-right.svg); background-repeat:no-repeat; background-position:center center; background-size: contain;
    }
    > a:after {
    	right: 1rem;
    }
	> a.active:after {
    	position: absolute; content:""; @include vertical-align; width:1.5vw; height:1.5vw; right:2rem; background: url(../images/icon-tick.svg); background-repeat:no-repeat; background-position:center center; background-size: contain;
    }
  }
  .dl-menu {
    margin: 0; position: absolute; top: 135%; left: -3vw; z-index: 100; width: 26vw; opacity: 0; pointer-events: none; -webkit-transform: translateY(10px); transform: translateY(10px); -webkit-backface-visibility: hidden; backface-visibility: hidden;
    &.dl-menu-toggle {
    	transition: all 0.3s ease;
    }
    &.dl-menuopen {
		opacity: 1;
		pointer-events: auto;
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
    }
  }
  li .dl-submenu {
	  display: none;
  }
}

/* Hide the inner submenus */

/* 
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link. 
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/

.dl-menu.dl-subview li {
  display: none;
  &.dl-subviewopen > a {
    display: none;
  }
  &.dl-subview {
    > a {
      display: none;
    }
    display: block;
    .dl-submenu {
      display: block;
    }
  }
  &.dl-subviewopen {
    display: block;
    > .dl-submenu {
      display: block;
      > li {
        display: block;
      }
    }
  }
}

/* Dynamically added submenu outside of the menu context */

.dl-menuwrapper > .dl-submenu {
  position: absolute;
  width: 26vw;
  top: 0;
  left: 0;
  margin: 0;
}

/* Animation classes for moving out and in */

.dl-menu {
  &.dl-animate-out-1 {
    -webkit-animation: MenuAnimOut1 0.4s;
    animation: MenuAnimOut1 0.4s;
  }
  &.dl-animate-out-2 {
    -webkit-animation: MenuAnimOut2 0.3s ease-in-out;
    animation: MenuAnimOut2 0.3s ease-in-out;
  }
  &.dl-animate-out-3 {
    -webkit-animation: MenuAnimOut3 0.4s ease;
    animation: MenuAnimOut3 0.4s ease;
  }
  &.dl-animate-out-4 {
    -webkit-animation: MenuAnimOut4 0.4s ease;
    animation: MenuAnimOut4 0.4s ease;
  }
  &.dl-animate-out-5 {
    -webkit-animation: MenuAnimOut5 0.4s ease;
    animation: MenuAnimOut5 0.4s ease;
  }
  &.dl-animate-in-1 {
    -webkit-animation: MenuAnimIn1 0.3s;
    animation: MenuAnimIn1 0.3s;
  }
  &.dl-animate-in-2 {
    -webkit-animation: MenuAnimIn2 0.3s ease-in-out;
    animation: MenuAnimIn2 0.3s ease-in-out;
  }
  &.dl-animate-in-3 {
    -webkit-animation: MenuAnimIn3 0.4s ease;
    animation: MenuAnimIn3 0.4s ease;
  }
  &.dl-animate-in-4 {
    -webkit-animation: MenuAnimIn4 0.4s ease;
    animation: MenuAnimIn4 0.4s ease;
  }
  &.dl-animate-in-5 {
    -webkit-animation: MenuAnimIn5 0.4s ease;
    animation: MenuAnimIn5 0.4s ease;
  }
}

@-webkit-keyframes MenuAnimOut1 {
  0% {}

  50% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
  }

  75% {
    -webkit-transform: translateZ(-372.5px) rotateY(15deg);
    opacity: .5;
  }

  100% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
}


@-webkit-keyframes MenuAnimOut2 {
  0% {}

  100% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }
}


@-webkit-keyframes MenuAnimOut3 {
  0% {}

  100% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }
}


@-webkit-keyframes MenuAnimOut4 {
  0% {}

  100% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }
}


@-webkit-keyframes MenuAnimOut5 {
  0% {}

  100% {
    -webkit-transform: translateY(40%);
    opacity: 0;
  }
}


@keyframes MenuAnimOut1 {
  0% {}

  50% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
    transform: translateZ(-250px) rotateY(30deg);
  }

  75% {
    -webkit-transform: translateZ(-372.5px) rotateY(15deg);
    transform: translateZ(-372.5px) rotateY(15deg);
    opacity: .5;
  }

  100% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
}


@keyframes MenuAnimOut2 {
  0% {}

  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
}


@keyframes MenuAnimOut3 {
  0% {}

  100% {
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 0;
  }
}


@keyframes MenuAnimOut4 {
  0% {}

  100% {
    -webkit-transform: translateZ(-300px);
    transform: translateZ(-300px);
    opacity: 0;
  }
}


@keyframes MenuAnimOut5 {
  0% {}

  100% {
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
    opacity: 0;
  }
}


@-webkit-keyframes MenuAnimIn1 {
  0% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }

  20% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translateZ(0px) rotateY(0deg);
    opacity: 1;
  }
}


@-webkit-keyframes MenuAnimIn2 {
  0% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}


@-webkit-keyframes MenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
}


@-webkit-keyframes MenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
}


@-webkit-keyframes MenuAnimIn5 {
  0% {
    -webkit-transform: translateY(40%);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}


@keyframes MenuAnimIn1 {
  0% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }

  20% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
    transform: translateZ(-250px) rotateY(30deg);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translateZ(0px) rotateY(0deg);
    transform: translateZ(0px) rotateY(0deg);
    opacity: 1;
  }
}


@keyframes MenuAnimIn2 {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}


@keyframes MenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1;
  }
}


@keyframes MenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(-300px);
    transform: translateZ(-300px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1;
  }
}


@keyframes MenuAnimIn5 {
  0% {
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}


.dl-menuwrapper > .dl-submenu {
  &.dl-animate-in-1 {
    -webkit-animation: SubMenuAnimIn1 0.4s ease;
    animation: SubMenuAnimIn1 0.4s ease;
  }
  &.dl-animate-in-2 {
    -webkit-animation: SubMenuAnimIn2 0.3s ease-in-out;
    animation: SubMenuAnimIn2 0.3s ease-in-out;
  }
  &.dl-animate-in-3 {
    -webkit-animation: SubMenuAnimIn3 0.4s ease;
    animation: SubMenuAnimIn3 0.4s ease;
  }
  &.dl-animate-in-4 {
    -webkit-animation: SubMenuAnimIn4 0.4s ease;
    animation: SubMenuAnimIn4 0.4s ease;
  }
  &.dl-animate-in-5 {
    -webkit-animation: SubMenuAnimIn5 0.4s ease;
    animation: SubMenuAnimIn5 0.4s ease;
  }
  &.dl-animate-out-1 {
    -webkit-animation: SubMenuAnimOut1 0.4s ease;
    animation: SubMenuAnimOut1 0.4s ease;
  }
  &.dl-animate-out-2 {
    -webkit-animation: SubMenuAnimOut2 0.3s ease-in-out;
    animation: SubMenuAnimOut2 0.3s ease-in-out;
  }
  &.dl-animate-out-3 {
    -webkit-animation: SubMenuAnimOut3 0.4s ease;
    animation: SubMenuAnimOut3 0.4s ease;
  }
  &.dl-animate-out-4 {
    -webkit-animation: SubMenuAnimOut4 0.4s ease;
    animation: SubMenuAnimOut4 0.4s ease;
  }
  &.dl-animate-out-5 {
    -webkit-animation: SubMenuAnimOut5 0.4s ease;
    animation: SubMenuAnimOut5 0.4s ease;
  }
}

@-webkit-keyframes SubMenuAnimIn1 {
  0% {
    -webkit-transform: translateX(50%);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}


@-webkit-keyframes SubMenuAnimIn2 {
  0% {
    -webkit-transform: translateX(100%);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}


@-webkit-keyframes SubMenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
}


@-webkit-keyframes SubMenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
}


@-webkit-keyframes SubMenuAnimIn5 {
  0% {
    -webkit-transform: translateZ(-200px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    opacity: 1;
  }
}


@keyframes SubMenuAnimIn1 {
  0% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}


@keyframes SubMenuAnimIn2 {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}


@keyframes SubMenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(-300px);
    transform: translateZ(-300px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1;
  }
}


@keyframes SubMenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1;
  }
}


@keyframes SubMenuAnimIn5 {
  0% {
    -webkit-transform: translateZ(-200px);
    transform: translateZ(-200px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}


@-webkit-keyframes SubMenuAnimOut1 {
  0% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(50%);
    opacity: 0;
  }
}


@-webkit-keyframes SubMenuAnimOut2 {
  0% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(100%);
    opacity: 0;
  }
}


@-webkit-keyframes SubMenuAnimOut3 {
  0% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }
}


@-webkit-keyframes SubMenuAnimOut4 {
  0% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }
}


@-webkit-keyframes SubMenuAnimOut5 {
  0% {
    -webkit-transform: translateZ(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateZ(-200px);
    opacity: 0;
  }
}


@keyframes SubMenuAnimOut1 {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }
}


@keyframes SubMenuAnimOut2 {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
}


@keyframes SubMenuAnimOut3 {
  0% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateZ(-300px);
    transform: translateZ(-300px);
    opacity: 0;
  }
}


@keyframes SubMenuAnimOut4 {
  0% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 0;
  }
}


@keyframes SubMenuAnimOut5 {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateZ(-200px);
    transform: translateZ(-200px);
    opacity: 0;
  }
}


/* No JS Fallback */

.no-js .dl-menuwrapper {
  .dl-menu {
    position: relative;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
  li {
    .dl-submenu {
      display: block;
    }
    &.dl-back {
      display: none;
    }
    > a:not(:only-child) {
      background: rgba(0, 0, 0, 0.1);
      &:after {
        content: '';
      }
    }
  }
}

/* Colors for demos */

/* Demo 1 */

.demo-1 .dl-menuwrapper {
  button {
    background: #c62860;
    &:hover, &.dl-active {
      background: #9e1847;
    }
  }
  ul {
    background: #9e1847;
  }
}

/* Demo 2 */

.demo-2 .dl-menuwrapper {
  button {
    background: #e86814;
    &:hover, &.dl-active {
      background: #D35400;
    }
  }
  ul {
    background: #D35400;
  }
}

/* Demo 3 */

.demo-3 .dl-menuwrapper {
  button {
    background: #08cbc4;
    &:hover, &.dl-active {
      background: #00b4ae;
    }
  }
  ul {
    background: #00b4ae;
  }
}

/* Demo 4 */

.demo-4 .dl-menuwrapper {
  button {
    background: #90b912;
    &:hover, &.dl-active {
      background: #79a002;
    }
  }
  ul {
    background: #79a002;
  }
}

/* Demo 5 */

.demo-5 .dl-menuwrapper {
  button {
    background: #744783;
    &:hover, &.dl-active {
      background: #643771;
    }
  }
  ul {
    background: #643771;
  }
}



@media #{$desk} {		
	
}	

@media #{$tablet-landscape} {	
	.dl-menuwrapper {
		ul{
			li{
				a{ font-size: 1.8rem; padding: 1rem 1rem 1rem 3rem;}
				> a:not(:only-child):after {
					width:1rem; height:1rem; 
				}
				&.dl-back {
					> a { padding: 1rem 1rem 1rem 3rem; }
					&:after {
						 width:1rem; height:1rem; 
					}
				}
				> a.active:after {
					width:1.2rem; height:1.2rem;
				}
			}	
		}
		.dl-menu { width: 50vw;}
	}
}

@media #{$tablet-portrait} {
	.dl-menuwrapper {		
		.dl-menu { width: 100vw;}
	}
}
@media #{$mobile} {		

}