
.member-content-area{
	.about-employee{ margin-bottom:3vw;
		.heading__h4{ font-weight:500; margin-bottom:0.5vw;}
		.designation{ font-size:1.1vw;}
		.email{ font-size:1.1vw;
			a{
				&:hover{ text-decoration:underline;}	
			}	
		}
	}
	.content-white-box{
		.left70{ float:left; width:70%;}	
		.right25{ float:right; width:25%; text-align:right;}
	}
	.hours-spent-form{ @extend .custom-multi-select; margin-bottom:2rem;}
}

.hours-spent-tabs{ @extend .clear; position: relative;
	.resp-tabs-list{ @extend .clear; margin-bottom:-5px;
		li{ @include border-radius(0.4vw 0.4vw 0 0); float:right; padding:0.5vw 2vw; font-size:1.2vw; text-transform:uppercase; background-color:$grey !important; color:$white !important;
			&.resp-tab-active{ border:0 none; background-color:$white !important; color:$grey !important;}
		}
	}
	.resp-tab-content{ border:0 none;  padding:0; }	
	.resp-tabs-container{ background:none; position:relative; @extend .clear;
		.notification-grid{
			.title{
				.col:last-child{
					.bg-container{ @include border-radius(0.4vw 0 0.4vw 0.4vw);}
				}	
			}	
		}
	}
	.select-year{ position:absolute; left:0; top:0;}
}

.active-courses{ @include flexbox; @include flex-wrap(wrap); @include justify-content(space-between); position:relative;
	.course-container{ @include flexbox; width:30%; margin-bottom:3vw;
		article.course{ @include flexbox; @include flex-direction(column); width: 100%;
			.article-info{ @include flex(1 0 auto);
				h4{  font-weight:400;}		
			}
		}
	}
}

/*Media query*/
@media #{$desk} {		
	
}	

@media #{$tablet-landscape} {
	
}

@media #{$tablet-portrait} {
	
}
@media #{$mobile} {		
	
}	