
.teach-with{padding: 2vw 0 0;position: relative;
  //&::before { content: ""; pointer-events: none; position: absolute; top: 42%; left: -25%; z-index: -1; width: 150%;
  //  height: 85%; background: $bggrey; @include rotate(-25); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
}
//slider
.slick-slider{  margin-bottom: 0}
.slider-container{ padding: 8vw 0 6vw;@include box-sizing;
  .slick-list{  overflow: unset;width:70%;margin: 0 auto;}
  .slick-slide{ margin: 0 3vw;}
  .slick-prev{  left: 14vw;}
  .slick-next{  right: 14vw;}
}
.teach-with-slider{
  @include border-radius(0.8vw); @include box-shadow(2px, 3px, 16px, rgba(0,0,0,0.3));padding: 5vw;@include box-sizing;text-align: left;background: $white;
    .slider-image{  width: 35%;float: left;
      img{  width: 100%;}
    }
    .slider-copy{ width:55%; float: right; padding-top: 2vw;@include box-sizing;
      .heading__h5{ padding:4vw 0 0.5vw;}
      p{  font-family: $font-reg;font-size: 1.2vw;padding-bottom: 1.3vw;}
   }
}

//how it works
.expert-how-it-works{ padding-bottom: 8vw;position: relative;
  //&::before { content: ""; pointer-events: none; position: absolute; top: -1%; left: -30%; z-index: -1; width: 160%; height: 85%; background: $bggrey2; @include rotate(-25); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
  //&::after { content: ""; pointer-events: none; position: absolute; top: 66%; left: -25%; z-index: -1; width: 150%; height: 85%; background: $bggrey; @include rotate(-25); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
  .info-copy{ width: 93%;
    .heading__h2{ text-transform: uppercase;margin-bottom: 0.8vw;}
    p.sub-copy{font-family: $font-mid;font-weight: 600;font-size: 1.25vw;width: 45%;}
    .steps-video-container{ padding: 2vw 0 3vw;
      .steps {float: left;width: 40%;padding-top: 1.5vw;
        ol{ list-style-type: none;counter-reset: steps-counter;}
        li{ position: relative;padding-left: 14%;margin-bottom: 2vw;
          &:before{content: counter(steps-counter);counter-increment: steps-counter;position: absolute;left: 0;top: 0;color: $white;
            background: $lightpink;font-size: 3vw;line-height: 1;min-width: 1.5vw;text-align: center;padding: 0.5rem 1.5rem;border-radius: 1rem;
          }
        }
        .heading__h5{margin-bottom: 0.3vw; }
        p{font-family: $font-reg;font-size: 1.2vw;}
      }
      .expert-video-container{  width: 51%; float: right;background: $black;height: 26vw;@include border-radius(0.8vw);overflow: hidden;
        video, iframe{ width: 100%; height: 100%;}
      }
    }
  }
  .know-more-container{ width: 66%;margin: 0 auto; color: $white;background: $lightpink;@include border-radius(0.8vw);
    .know-more{ padding: 1vw 3vw;@include box-sizing;text-align: center;
      .heading__h5{display: inline-block;padding-right: 1.5vw;}
      .button-container{margin: 0;display: inline-block;}
    }
  }
}

//testimonial
.expert-testimonial{ padding-bottom: 8vw;position: relative;
  //&::before { content: ""; pointer-events: none; position: absolute; top: 57%; left: -25%; z-index: -1; width: 150%; height: 89%; background: $bggrey2; @include rotate(-25); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
  //&::after { content: ""; pointer-events: none; position: absolute; top: 155%; left: -25%; z-index: -1; width: 150%; height: 89%; background: $bggrey4; @include rotate(-25); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
  .heading__h1{text-align: center;}
  .testimonial-container{ width: 82%; margin: 0 auto;padding: 5vw 0 2vw 0;@include box-sizing;
    .testimonials{ @include flexbox;@include align-items(center);@include justify-content(space-between);
      .course{ width: 27%;
        .article-info{
          h4{ min-height: 0}
        }
      }
    }
    .testimonial-view-all{font-weight: 600;font-size: 1.2vw;text-align: right;padding-top: 1vw;}
  }
  .button-container{  text-align: center;}
}

/*Media query*/

@media #{$laptops} {
  .teach-with-slider{
    .slider-copy{
      p { font-size: 1.4vw;}
    }
  }
  .expert-how-it-works{
    .info-copy{
      p.sub-copy{ font-size: 1.45vw; }
      .steps-video-container{
        .steps{
          li{ padding-left: 16.5%;}
          p { font-size: 1.4vw;}
        }
      }
    }
  }
  .expert-testimonial{
    .testimonial-container{
      .testimonial-view-all{
        font-size: 1.4vw;
      }
    }
  }

}
@media #{$desk} {
  .teach-with-slider{
    .slider-copy{
      p { font-size: 1.6vw;}
    }
  }
  .expert-how-it-works{
    .info-copy{
      p.sub-copy{ font-size: 1.65vw; }
      .steps-video-container{
        .steps{
          li{ padding-left: 18.5%;}
          p { font-size: 1.6vw;}
        }
      }
    }
  }
  .expert-testimonial{
    .testimonial-container{
      .testimonial-view-all{
        font-size: 1.6vw;
      }
      .testimonials{
        .course{
          width: 31%;
        }
      }
    }

  }
}
@media #{$tablet-landscape} {
  .teach-with{
    //&::before{ top: 35%;left: -40%;width: 180%;height: 85%;}
  }
  .teach-with-slider{
    .slider-image{ float: none;width: 60%;margin: 0 auto }
    .slider-copy{ width: 100%; float: none;
      p { font-size: 1.6rem;}
    }
  }
  .expert-how-it-works{
    //&::before{ top: -24%;left: -35%;width: 170%;height: 100%;}
    //&::after{ top: 66%;left: -29%;width: 154%;height: 90%;}
    .info-copy{ width: 100%;
      p.sub-copy{ font-size: 1.65rem; width: 90%;}
      .steps-video-container{
        .steps{ width: 48%;padding-right: 1%;
          li{ padding-left: 17%;}
          p { font-size: 1.6rem;}
        }
      }
    }
    .know-more-container{ width: 90%;}
  }
  .expert-testimonial{
    .testimonial-container{  width: 100%;
      .testimonial-view-all{  font-size: 1.6rem;}
      .testimonials{
        .course{  width: 30%;}
      }
    }

  }
}
@media #{$tablet-portrait} {
  .teach-with{
    //&::before{ top: 24%;left: -115%;width: 246%;height: 85%;}
  }
  .expert-how-it-works{
    //&::before{ top: -13%;left: -80%;z-index: -1;width: 201%;height: 85%;}
    //&::after{ top: 77%;left: -88%;z-index: -1;width: 215%;height: 85%;}
    .info-copy{ width: 100%;
      p.sub-copy{ font-size: 1.65rem; width: 100%;}
      .steps-video-container{
        .steps{ width: 100%;padding-right: 1%;float: none;
          li{ padding-left: 17%;
            &:before{ font-size: 2.2rem;min-width: auto;}
          }
          p { font-size: 1.6rem;}
        }
        .expert-video-container{ width: 100%;float: none;height: 50vw;}
      }
    }
    .know-more-container{ width: 100%;
      .know-more{ padding: 3vw;
        .heading__h5{ margin-bottom: 1rem;}
      }
    }
  }
  .slider-container{
    .slick-list{overflow: unset;width:85%;margin: 0 auto;padding: 0 !important;}
    .slick-slide{margin: 0 3vw;}
    .slick-prev{left: 4vw;}
    .slick-next{right: 4vw;}
  }
  .expert-testimonial{
    //&::before{ top: 42%;left: -90%;z-index: -1;width: 211%;height: 82%;}
    .testimonial-container{ width: 100%; padding: 0;
      .testimonial-view-all{  font-size: 1.6rem;width: 80%;margin: 0 auto;}
      .testimonials{ @include flex-direction(column);
        .course{  width: 80%;margin: 2rem auto 0 ;
        }
      }
    }

  }

}