//top banner for expert and client landing page
.top-banner{margin-bottom: 4.3vw;position: relative;
  .top-banner-image{ width: 52%;float: left;
    img { width: 100%;height: auto;display: block;@include border-radius(0.8vw);}
  }
  .top-banner-copy{width: 42%;float: right;
    h1{ font-weight: 700;}
    p{ font-size: 1.2vw;font-family: $font-reg;padding: 2rem 0 5rem 0;line-height: 1.4;}
  }
}
.boxes-grid-4{
  .heading__h2 {text-transform: uppercase;}
  .teach-with-boxes{  @include flexbox;@include justify-content(space-between);padding-top: 3vw;
    .teach-with-box{ width: 49%; @include border-radius(0.8vw); overflow:hidden; @include box-shadow(2px, 3px, 16px, rgba(0,0,0,0.3));background: $white;
      padding: 2.5vw 1vw;@include box-sizing; @include flexbox;@include justify-content(space-between);@include align-items(center);
      .teach-with-box-image{  width: 30%;display: block;height: 0;padding-bottom: 23.5%;background-position: center center;
        background-repeat: no-repeat;background-size: contain;background-color: #FFFFFF;}
    }
    .teach-with-box-copy{ padding:0 2vw 0 0.8vw;width: 70%;@include box-sizing;
      .heading__h5{ text-transform: uppercase;margin-bottom: 0.8vw;}
      p{  font-size: 1.2vw;font-family: $font-reg;}
    }
  }
}

@media #{$laptops} {
  .top-banner{
    .top-banner-copy{
      p{ font-size: 1.4vw;}
    }
  }
  .boxes-grid-4{
    .teach-with-boxes {
      .teach-with-box-copy {
        p { font-size: 1.4vw;}
      }
    }
  }
}

@media #{$desk} {
  .top-banner{
    .top-banner-copy{
      p{ font-size: 1.6vw;}
    }
  }
  .boxes-grid-4{
    .teach-with-boxes {
      .teach-with-box-copy {
        p { font-size: 1.6vw;}
      }
    }
  }
}

@media #{$tablet-landscape} {
  .top-banner{
    .top-banner-copy{
      p{ font-size: 1.6rem;padding: 0}
    }
  }
  .boxes-grid-4{
    .teach-with-boxes {
      .teach-with-box-copy {
        p { font-size: 1.6rem;}
      }
    }
  }
}
@media #{$tablet-portrait} {
  .top-banner{
    .top-banner-image{  float: none;width: 100%;margin-bottom: 3rem;}
    .top-banner-copy{ float: none;width: 100%;
      p{  padding: 0;}
    }
  }
  .boxes-grid-4{
    .box-container{margin-top: 2rem;}
    .teach-with-boxes{ @include flex-direction(column);padding-top: 0;
      .teach-with-box{  width: 100%;margin-bottom: 2rem;}
    }
  }

}