
.home-featured-content { padding: 4vw 0; position:relative; z-index: 1;	
	&::before { content: ""; pointer-events: none; position: absolute; top: 120%; left: -25%; z-index: -1; width: 150%; height: 120%; background: $lightpink; 
	@include rotate(-25); -webkit-transform-origin: 0 0; transform-origin: 0 0;}

	.heading__h2{ text-transform:uppercase; margin-bottom:1rem;}
	.copy{ font-size:1.1vw; width:50%;}
	
	.featured-content-slider{ 
		&.slick-slider{ margin:0; }
		.slick-slide{ padding:3vw 1.5vw; @include transition(all, 0.2s, ease-in-out);
			&:hover{ }	
		}	
		.slick-dots{ position:static; margin: 2rem 0 0;}
		.slick-next{ right: 2vw;}
		.slick-prev{ left: 2vw;}
	}
	
	article.course{ @include transition(all, 0.2s, ease-in-out); position:relative; z-index:10;
		&:hover{ transform: scale(1.15);}	
	}
	.view-all{ text-align:right; font-size:1.8vw; font-weight:600; padding-right:6%;
		a{ color:$white;
			&:hover, &:focus{ text-decoration: underline;}
		}
	}
}

/*Media query*/

@media #{$desk} {	
	.home-featured-content {
		.copy{ font-size:1.6vw; width:70%;}
	}
}
@media #{$tablet-landscape} {	
	.home-featured-content { padding: 4rem 0;
		.copy{ font-size:1.7rem;  width:100%;}
		.view-all{ font-size:1.6rem; }
	}
}

@media #{$tablet-portrait} {
	.home-featured-content { padding: 3rem 0;
		.copy{ font-size:1.6rem;}
	}
}
@media #{$mobile} {		
	
}
