.featured-bg{ background-image:url('../images/feautred-content/bg.png');width: 100%; background-size: 100% auto; background-repeat-y: repeat; background-position: center top;}

.featured-banner{ padding-bottom: 5vw;position: relative;
  //&::after { content: ""; pointer-events: none; position: absolute; top: 92%; left: -30%; z-index: -1; width: 160%; height:85%; background: $bggrey; @include rotate(-25); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
  .featured-banner-container{
    @include border-radius(0.8vw);@include box-shadow(2px, 3px, 16px, rgba(0,0,0,0.3));background: $white;
    .featured-banner-image{ position: relative;border-top-left-radius: 0.8vw;border-top-right-radius: 0.8vw;width: 100%;background-size: cover;
      background-repeat: no-repeat;padding-bottom: 62%;

      .total-fees{ font-size: 1.6vw;font-weight: 600;color: $white;background: $pink;padding: 0.5vw 0;width: 16%;@include box-sizing;
        text-align: center;@include border-radius(0.8vw);position: absolute;top: 3%;right: 2%;}
      .banner-copy{ color: $white;width: 35%;position: absolute;bottom: 5%;left: 7%;
        img{ width: 7%;vertical-align: middle;}
        span{ font-size: 1.2vw;font-weight: 600;display: inline-block;vertical-align: middle;padding-left: 0.5vw;}
        p{ font-size: 1.6vw;font-family: $font-reg;}
      }
    }
    .featured-copy{ width: 86%;margin: 0 auto;padding: 3vw 0;
      p{  font-size: 1.2vw;font-family: $font-reg;padding-top: 1vw;}
    }
  }
}
.featured-data{padding-bottom: 4vw;position: relative;
  //&::before { content: ""; pointer-events: none; position: absolute; left: -100%; z-index: -1; width: 400%; background: $bggrey2; @include rotate(-25); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
  //&::after { content: ""; pointer-events: none; position: absolute; left: -100%; z-index: -1; width: 400%; background: $bggrey; @include rotate(-25); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
  .data-container{ padding-bottom: 4vw;
    @include flexbox;@include flex-wrap(wrap);@include justify-content(space-between);
    .course{ width: 48%;margin-bottom: 2vw;
      figure {
        .img-name{ padding-bottom: 55%;}
      }
      span.play{ background:url(../images/icon-play.svg) no-repeat center center; background-size:contain; @include both-align-center; z-index:5; width:10%; height:17%;}
      .video-heading{ text-align: left;min-height: 2vw;margin-bottom: 0}
      .video-copy{ text-align: left;font-weight: 300;font-family: $font-reg; font-size: 1.2vw }
    }
  }
}
.or{font-size:1.2vw;font-weight: 600;padding: 0 1.5vw;}
@media #{$laptops} {
  .featured-banner{
    .featured-banner-container{
      .featured-copy{
        p{ font-size: 1.4vw;}
      }
    }
  }
  .featured-data{
    .data-container{
      .course{
        .video-copy{ font-size: 1.4vw;}
      }
    }
  }
  .or{font-size:1.4vw;}
}

@media #{$desk} {
  .featured-banner{
    .featured-banner-container{
      .featured-copy{
        p{ font-size: 1.6vw;}
      }
    }
  }
  .featured-data{
    .data-container{
      .course{
        .video-copy{ font-size: 1.6vw;}
      }
    }
  }
  .or{font-size:1.6vw;}
}

@media #{$tablet-landscape} {
  .featured-bg{ background-image:url('../images/mob-bg.png');}
  .featured-banner{
    .featured-banner-container{
      .featured-copy{
        p{ font-size: 1.6rem;}
      }
      .featured-banner-image{
        .total-fees{ font-size: 2rem;width: 21%;}
        .banner-copy{ width: 50%;
          span{ font-size: 1.6rem}
          p{ font-size: 2rem}
        }
      }
    }
  }
  .featured-data{
    .data-container{
      .course{ margin-bottom: 2rem;
        .video-copy{ font-size: 1.6rem;}
      }
    }
  }
  .or{font-size:1.6rem;}
}
@media #{$tablet-portrait} {
  .featured-banner{
    .featured-banner-container{
      .featured-banner-image{
        .total-fees{ width: 40%;}
        .banner-copy{ width: 90%;}
      }
    }
  }
  .featured-data{
    .data-container{
      .course{ width: 100%;}
    }
  }
  .or{ display: block;padding: 1vw;}
}