
/*Google fonts - Saira Condensed & Roboto Condensed*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

@import url('https://fonts.googleapis.com/css?family=Saira+Condensed:400,500,600,700');


/* Variable declaration for fonts */

$font-reg: 'Roboto Condensed', sans-serif;
$font-mid: 'Saira Condensed', sans-serif;