footer{ background: $lightblue; padding: 5vw 0 1.5vw; color:$white; position:relative; z-index:1;
	&:after{ content:""; position:absolute; right:0; top:0; width:50%; height:100%; background: $grey; z-index: 0;}
	a{ color:$white;}
	
	.footer-container{ margin:0 auto; max-width:80%; margin-bottom:3vw;}
	.footer-links{ margin-left:30%;
		li{ margin-bottom:2rem;}
		a{ font-size:1.2vw; font-weight:600;
			&:hover, &:focus{ text-decoration:underline;}
		}
	}
	.social-links{ text-align:center;
		li{ display:inline-block;
			a{ display:block; width:2.5vw; height:2.5vw; background-position:center center; background-size:contain; background-repeat:no-repeat; margin:0 1rem;
				&.tw{ background-image:url(../images/icon-social-tw.png);}
				&.fb{ background-image:url(../images/icon-social-fb.png);}
				&.ig{ background-image:url(../images/icon-social-ig.png);}
			}
		}
	}
}


.copyrights{ text-align:center; color:$white; font-size:1vw;}


/*Media query*/
@media #{$desk} {		
	footer{
		.footer-links{ 
			a{ font-size:1.6vw;}
		}
	}
	.copyrights{ font-size:1.5vw;}
}	

@media #{$tablet-landscape} {
	.disclaimer-container{ 
		.border-data{ margin:0 10% 3rem;
			> span{ display: block;}
		}
	}
	footer{
		.footer-container{ width:90%;}
		.footer-links{ margin-left:0; text-align:center;
			a{ font-size:1.5rem;}
		}
		.social-links{ margin-bottom:2rem;
			li{ 
				a{ width:2.5rem; height:2.5rem; }
			}
		}
		
	}
	.copyrights{ font-size:1.5rem;}
}

@media #{$tablet-portrait} {
	footer{
		.footer-links{
			a{ font-size:1.6rem;}
		}
	}
}
@media #{$mobile} {		
	
}		