/* Scss Document */

.form-container{  @extend .clear;
	.form-element{ position:relative; margin-bottom: 1rem; @include box-sizing; padding:0 ;
		&.no-padding{ padding:0;}
		
		label.title{ display:inline-block; font-size:1.2vw; padding:1vw 1.4vw; line-height:1.3; color:$txtgrey; font-family:$font-mid; font-weight:600;}
		input[type="text"], input[type="date"], input[type="tel"], input[type="password"], textarea{ font-size:1.2vw; font-family:$font-mid; font-weight:600; padding:1vw 1.4vw; background:$white; border:2px solid $grey; color:$grey; display:block; width:100%; @include box-sizing; @include border-radius(0.4vw); }
		input[type="text"]:disabled, input[type="date"]:disabled, input[type="tel"]:disabled, input[type="password"]:disabled, textarea:disabled{ opacity:0.5; background-color: $lightgrey; border-color: $grey; color:$white;
			&::-webkit-input-placeholder { color: $white;}
			&:-moz-placeholder { color: $white; opacity: 1;}
			&::-moz-placeholder { color: $white; opacity: 1;}
			&:-ms-input-placeholder { color: $white;}
			&::placeholder{ color: $white;}
		}
		input[type="text"].disabled, input[type="date"].disabled, input[type="tel"].disabled, input[type="password"].disabled, textarea.disabled{ opacity:0.5; background-color: $lightgrey; border-color: $grey; color:$white;
			&::-webkit-input-placeholder { color: $white;}
			&:-moz-placeholder { color: $white; opacity: 1;}
			&::-moz-placeholder { color: $white; opacity: 1;}
			&:-ms-input-placeholder { color: $white;}
			&::placeholder{ color: $white;}
		}
		input[type="text"].pick-date{ /*background-image:url(../images/icon-date.png); background-repeat:no-repeat; background-position: 95% center;*/}
		
		input[type="date"]::before { 
			content: attr(data-placeholder);
			width: 100%;
		}
		input[type="date"]:focus::before,
		input[type="date"]:valid::before { display: none }
				
		.info{ font-size: 1.3rem; display: block; margin: 0.5rem 0;}
			
		&.float-left{ width:48%; float:left;}
		&.float-right{ width:48%; float:right;}
		
		&.error{
			input[type="text"], input[type="date"],input[type="tel"], input[type="password"], textarea, .custom-select{ border-color:$pink !important;}
		}
		&.correct{
			input[type="text"], input[type="date"],input[type="tel"], input[type="password"], textarea{ border-color:$green !important;}
		}
		
	}
	.note{ font-size:1.2vw; margin-bottom:1rem; font-weight:600; 
		a{
			&:hover, &focus{ text-decoration:underline;}	
		}
	}
	.or{ font-size:1.4vw; font-weight:600; text-align:center; margin:1vw 0;}
	.error-message{ margin:0 0 2rem 0; padding:1rem 0; color:$pink; font-size:1.2vw; font-weight:600; line-height:1.2;
		li{ display:block; margin-bottom:0.5rem;}	
	}
	.success-message{ margin:0 2rem 3rem 0; padding:1rem; color:$black; font-size:1.2vw; line-height:1.2;
		li{ display:block; margin-bottom:0.5rem;}	
	}	
	
}
.add-business-container .form-container .form-element.float-left{clear:both;}

/* Custom input file */
.file-upload{ @extend .clear;
	.inputfile { width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1;}	
	.no-js .inputfile + label {	display: none; }
	
	.inputfile + label { padding: 0; width:100%; float:none; text-overflow: ellipsis; white-space: nowrap; cursor: pointer; display: inline-block; overflow: hidden;
		span {
			width: 80%; display: block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; vertical-align: top; float:left;
			font-size:1.2vw; line-height:1; font-family:$font-mid; font-weight:600; padding:1vw; background:$bggrey; border:2px solid $bggrey; color:$txtgrey; @include box-sizing; @include border-radius(0.4vw 0 0 0.4vw);
		}
		strong {
			font-size:1.2vw; font-family:$font-mid; font-weight:600; padding:1vw; position:relative; line-height:1; text-align:center; width:20%; background: $grey; border:2px solid $grey; color:$white; float:left; @include box-sizing; @include border-radius(0 0.4vw 0.4vw 0);
		}
	}
	&.white{ 			
		.inputfile + label { 
			span { background:$white; border:2px solid $white; width: 74%;}
			strong{ font-size:1.6rem; width: 26%; padding: 1.3rem 1rem;}
		}
	}
	&.lightpink{ 			
		.inputfile + label { 
			span { background:$fadepink; border:2px solid $fadepink; width: 74%;}
			strong{ background:$fadepink; width: 26%; border-color: $fadepink; color:$grey;
				&:before{ content:"+"; @include both-align-center; font-size:2vw; width:2vw; height:2.5vw;}
			}
		}
	}
	&.whithe-btn{ 			
		.inputfile + label { 
			span { background:$white; border:2px solid $white; width: 74%;}
			strong{ background:$white; width: 26%; border-color: $white; color:$grey;
				&:before{ content:"+"; @include both-align-center; font-size:2vw; width:2vw; height:2.5vw;}
			}
		}
	}
	&.attached-img{ 			
		.inputfile + label { 
			span { background:$white; border:2px solid $white; width: 74%;}
			strong{ background: url(../images/icon-attachment.svg) center center no-repeat; background-size: auto 80%; width: 26%; border-color: transparent; color:$grey;}
		}
	}
	&.upload-img{ 			
		.inputfile + label { background:$fadepink; @include border-radius(0.4vw);
			span { background-color:transparent; background-image: url(../images/img-camera.svg); background-position: center center; background-repeat: no-repeat; background-size: auto 80%; border:0 none; width: 100%; padding-bottom:30%;}
			strong{ background-color:transparent; width: 100%; border-color: transparent; color:$grey;
				&:before{ content:"";}
			}
		}
	}
	&.upload-video{ 			
		.inputfile + label { background:$fadepink; @include border-radius(0.4vw);
			span { background-color:transparent; background-image: url(../images/img-video-thumb.svg); background-position: center center; background-repeat: no-repeat; background-size: auto 80%; border:0 none; width: 100%; padding-bottom:30%;}
			strong{ background-color:transparent; width: 100%; border-color: transparent; color:$grey;
				&:before{ content:"";}
			}
		}
	}
	&.switched{ /*For button first*/
		.inputfile + label { 
			span { float:right; width:62%; background:$white; border:2px solid $white; @include border-radius(4px);}
			strong { float:left; width:35%; font-size:1.6rem; padding: 1.3rem 1rem; @include border-radius(4px);}
		}
	}
	&.right{ float:right;}
}
	
	
/*	Checkbox */
.checkbox{ text-align:left; color:$black; margin:0 0 1.5rem; font-size:1.2vw;
	input[type=checkbox].css-checkbox { position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;}
	input[type=checkbox].css-checkbox + label.css-label { text-indent:0; padding-left:6rem;  font-weight:600; min-height:40px; line-height:40px;  background-repeat:no-repeat; background-position: 0 2px; vertical-align:middle; cursor:pointer;}
	input[type=checkbox].css-checkbox:checked + label.css-label { background-position: 0 -216px;}
	input[type=checkbox].css-checkbox + label.css-label.error { background-position: 0 -437x; }
	input[type=checkbox].css-checkbox:checked + label.css-label.error { background-position: 0 -216px;}
	input[type=checkbox].css-checkbox:disabled + label.css-label { opacity:0.5;}
	label.css-label { display:inline-block; background-image:url(../images/chk-box.png); -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; 
		a{ color:$black; text-decoration:underline;}		
	}		
	&--white{ 
		label.css-label { background-image:url(../images/chk-box-white.png);}
	}
	&--black{ 
		label.css-label { background-image:url(../images/chk-box-black.png);}
	}
}
.checkboxGroup{ padding:1rem;
	&.checkbox-inline {
		.checkbox {
			display: inline-block;
			margin-right: 2rem;
		}
	}
}

/*Pure CSS checkbox*/
.styled-checkbox {
	position: absolute; opacity: 0; 
	& + label { position: relative; cursor: pointer; padding: 0;}
	
	& + label:before { content: ''; display: inline-block; vertical-align: text-top; width: 2.5rem; height: 2.5rem; background: #dedede; @include border-radius(0.4vw);}

	&:hover + label:before {  }
	&:checked + label:before { }
  
	&:disabled + label { color: #b8b8b8; cursor: auto;}
	&:disabled + label:before {	box-shadow: none; }

	&:checked + label:after { content: ''; position: absolute; left: 6px; top: 11px;	background: $grey; width: 3px; height: 3px;
		box-shadow: 2px 0 0 $grey, 4px 0 0 $grey, 4px -2px 0 $grey, 4px -4px 0 $grey, 4px -6px 0 $grey, 4px -8px 0 $grey; @include rotate(45);
	}
	
	/*Other Color*/
	&.pink{
		& + label:before { background: $fadepink; margin-right:1rem;}
	}
}



/*	Radio */
.radiobutton{ margin:0; font-size:1.2vw; color:$grey; font-family:$font-mid;
	input[type=radio].css-checkbox { position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;}
	input[type=radio].css-checkbox + label.css-label { padding-left:3.5rem; min-height:30px; line-height:30px; display:inline-block; background-repeat:no-repeat; background-position: 0 0; vertical-align:middle; cursor:pointer;}
	input[type=radio].css-checkbox:checked + label.css-label { background-position: 0 -432px; }
	label.css-label { background-image:url(../images/radio-button.png);	-webkit-touch-callout: none; -webkit-user-select: none;	-khtml-user-select: none; -moz-user-select: none;-ms-user-select: none; user-select: none;	
		a{ color:$black; text-decoration:underline;}
	}
	&--white{ margin-bottom:1rem;
		label.css-label { background-image:url(../images/radio-button-white.png);}
	}
	
	&--black{
		label.css-label { background-image:url(../images/radio-button-black.png);}
	}
}
/*	Pure css Radio - without image */

.radio-item{ font-size:1.2vw; color:$grey; font-family:$font-mid; font-weight:500; position: relative; margin-right:2vw;	
	.radio-btn {
		position: absolute;	opacity: 0;	visibility: hidden;
		&:checked + .radio-label {
			&::before {	background: $lightpink;}
		}
	}	
	.radio-label {
		position:relative; display:block; padding: 0 0 0 3vw;	cursor: pointer; @include transition(all, 0.25s, linear);
		&::before {
			content: ""; display: inline-block; position:absolute; left:0; top:0; height: 2vw; width: 2vw; margin-right: 1vw; background:$fadepink; @include border-radius(50%); @include transition(all, 0.25s, linear);
		}
	}
}

.radioGroup{ 
	.radiobutton{ float:left; margin-right:2rem;}
	&.no-float{ float:none;
		.radiobutton{ float: none; margin-bottom:2rem;}
	}
}

/*	Select box */

.custom-select {
    -webkit-appearance: none; -moz-appearance: none; appearance: none; font-family:$font-mid; font-weight:600; background: $grey url(../images/icon-arrow-down-white.svg) no-repeat right 12px center;  background-size: 13px 8px;
	@include box-sizing; font-size:1.8vw; padding:1vw 2.5vw 1vw 2vw; line-height:1; width:auto; position:relative; border:2px solid $grey; color:$white; @include border-radius(0.4vw); cursor:pointer;
	&.error{ border-color:$orange;}	
	&:disabled, &.disabled{ opacity:0.5; background-color: $grey; border-color: $grey; color:$white;}
	
	option{
		&:hover{ background-color:$bggrey3;}	
	}
	
	&.white{ color:$grey; background-color:$white; background-image:url(../images/icon-arrow-down-grey.svg);}
	&.grey{ background-color:$m-grey; border-color:$m-grey; color:$grey; background-image:url(../images/icon-arrow-down-grey.svg);}
	&.small-padding{ padding:0.6vw 1.5vw 0.6vw 1vw;}
	&.tiny-padding{ padding:0.2vw 2vw 0.2vw 1vw; border:0 none;}
	&.small-size{ font-size:1.2vw;}
	&.full-width{ width:100%;}
}

/* Select box - remove default arrow in IE */
select::-ms-expand {
    display:none;
}

/*Multi Select Listbox*/

.ms-container{ font-size:1.2vw;
	.ms-selectable{ background:$fadepink; padding:1vw; @include border-radius(0.4vw); max-height:10rem; overflow:auto;
		li{ padding:0.5rem; cursor:pointer;
			&:hover{ background:$lightpink; }
		}
	}
	.ms-selection{ margin:1rem 0;
		li{ padding:0.5rem 3rem 0.5rem  1rem; background:$fadepink; display:inline-block; margin-right:1rem; margin-bottom:0.5rem; position:relative; @include border-radius(4px); 
			&.ms-elem-selection{ cursor:pointer;
				&:after{ content:"-"; position:absolute; text-align:center; font-weight:600; background:$grey; color:$white; width:2rem; height:2rem; font-size:2rem; @include border-radius(50%); right:-0.5rem; top:-0.5rem; line-height:1;}
			}
		}
	}
}

/*Custon On/Off Switch button*/

.switch {
	position: relative; display: inline-block; width: 7rem; height: 2rem; @include box-sizing; vertical-align:middle;
	
	input {display:none;}
	.slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: $grey; @include border-radius(1rem);
		&:before {
			position: absolute; content: ""; height: 3rem; width: 40%; left: 0%; bottom: -0.5rem; background-color: $white; @include transition(all, 0.4s); @include border-radius(50%); @include box-sizing;
		}
	}
	
	input:checked + .slider {
	  background-color: $lightblue;
	}
	input:focus + .slider {
	  box-shadow: 0 0 1px $lightblue;
	}
	
	input:checked + .slider:before {
	  @include transform(translateX(150%));
	}
	&.black{ 
		input:checked + .slider {
		  background-color: $lightgrey;
		}
		input:focus + .slider {
		  box-shadow: 0 0 1px $lightgrey;
		}
		.slider{ background-color: $lightgrey;
			&:before { background-color: $black;}	
		}
	}
	&.green{ 
		input:checked + .slider {
		  background-color: $green;
		}
		input:focus + .slider {
		  box-shadow: 0 0 1px $green;
		}
	}
	&.small{ width: 6rem; height: 3rem;
		.slider {
			&:before { height: 70%; bottom: 15%;}
		}
	}
}

/*Coustom multiselect*/

.custom-multi-select{ 
	.fs-label-wrap{ border:0 none; @include border-radius(0.4vw); font-family:$font-mid; font-weight:600; background:$m-grey; 
		.fs-label{ padding:1vw 2.5vw 1vw 2vw; font-size:1.2vw; cursor:pointer; }
	}
	.fs-dropdown{ background:$lightpink; padding:1vw; @include border-radius(0.4vw); border:0 none; @include box-sizing;}
	.fs-search{ background:$red; @include border-radius(0.4vw); padding:0.5vw; margin-bottom:1rem;
		input{ background:none; color:$white; padding:0;
			&::-webkit-input-placeholder { color: $white;}
			&:-moz-placeholder { color: $white; opacity: 1;}
			&::-moz-placeholder { color: $white; opacity: 1;}
			&:-ms-input-placeholder { color: $white;}
			&::placeholder{ color: $white;}
		}
	}
	.fs-option, .fs-search, .fs-optgroup-label{ border-bottom:0 none; }
	.fs-option{ color:$white; font-weight:500; font-size:1.2vw; padding-left: 0; padding-right: 30px;
		&.selected {
			.fs-checkbox{ 
				i{ background:$red;}
			}
		}
	}
	.fs-wrap.multiple{
		.fs-option{
			&.selected {
				.fs-checkbox{ 
					i{ background:$red;}
				}
			}
		}
		.fs-checkbox{ left:auto; right:0; 
			i{ border:0 none; @include border-radius(3px);}
		}
	}
}

/*Media query*/

@media #{$laptops} {		
	
}

@media #{$desk} {		
	.form-container{ 
		.form-element{ 
			label.title{ font-size:1.5vw;}
			input[type="text"], input[type="date"], input[type="tel"], input[type="password"], textarea{ font-size:1.5vw;}
		}
		.note, .or, .error-message, .success-message, .error_msg{ font-size:1.5vw;}
	}
	.checkbox{ font-size:1.5vw;}
	.radiobutton{ font-size:1.5vw;}
	.radio-item{ font-size:1.5vw;}
	.custom-select{ font-size:1.5vw;
		&.small-size{ font-size:1.5vw;}
	}
	.custom-multi-select{ 
		.fs-label-wrap{ 
			.fs-label{ font-size:1.5vw; padding: 1rem 2.5rem 1rem 2rem}
		}
		.fs-dropdown{ padding:1rem;}
		.fs-search{ font-size:1.2vw; padding:0.5rem;}
		.fs-option{ font-size:1.5vw;}
	}
	/* Custom input file */
	.file-upload{		
		.inputfile + label { 
			span { font-size:1.5vw;}
			strong { font-size:1.5vw;}
		}
	}
}	

@media #{$tablet-landscape} {
	.form-container{ 
		.form-element{ 
			label.title{ font-size:1.7rem;}
			input[type="text"], input[type="date"], input[type="tel"], input[type="password"], textarea{ font-size:1.7rem; @include box-sizing; @include border-radius(0.5rem); padding:1rem 2rem;}
		}
		.note, .or, .error-message, .success-message, .error_msg{ font-size:1.6rem;}
	}
	.checkbox{ font-size:1.7rem;}
	.radiobutton{ font-size:1.7rem;}
	.radio-item{ font-size:1.7rem;
		.radio-label { padding: 0 0 0 3rem;
			&::before {
				height: 2.5rem; width: 2.5rem; margin-right: 1rem;
			}
		}
	}
	.custom-select{ font-size:1.7rem; @include border-radius(0.5rem); padding:0.8rem 3.5rem 0.8rem 2rem;
		&.small-size{ font-size:1.7rem;}
	}
	.custom-multi-select{ 
		.fs-label-wrap{ @include border-radius(5px);
			.fs-label{ font-size:1.7rem;}
		}
		.fs-search{ font-size:1.4rem;}
		.fs-option{ font-size:1.7rem;}
	}
	/* Custom input file */
	.file-upload{		
		.inputfile + label { 
			span { width:70%; font-size:1.7rem; padding:1rem; @include border-radius(0.5rem 0 0 0.5rem);}
			strong { width:30%; font-size:1.7rem; padding:1rem; @include border-radius(0 0.5rem 0.5rem 0);}
		}
		&.lightpink{
			.inputfile + label { 
				span { }
				strong { 
					&:before{ font-size: 2rem; width: 2rem; height: 2rem;}
				}
			}	
		}
	}	
}

@media #{$tablet-portrait} {
	.form-container{ 
		.form-element{ padding: 0;
			label.title{ font-size:1.6rem;}
			input[type="text"], input[type="date"],input[type="tel"], input[type="password"], .input-text, textarea{ font-size:1.6rem;}
			&.float-left{ width: 100%; float:none;}
			&.float-right{ width: 100%; float:none;}
		}
		.error-message{ margin-right:0;}
	}
	.checkbox{ font-size:1.6rem;}
	.radiobutton{ font-size:1.6rem;}
	.radio-item{ font-size:1.6rem;
		.radio-label { padding: 0 0 0 3rem;
			&::before {
				height: 2.2rem; width: 2.2rem;
			}
		}
	}
	.custom-select{ font-size:1.6rem;
		&.small-size{ font-size:1.6rem;}
	}
	.custom-multi-select{ 
		.fs-label-wrap{ 
			.fs-label{ font-size:1.6rem;}
		}
		.fs-search{ font-size:1.3rem;}
		.fs-option{ font-size:1.6rem;}
	}
	/* Custom input file */
	.file-upload{		
		.inputfile + label { 
			span { font-size:1.6rem;}
			strong { font-size:1.6rem;}
		}
	}
	
}

@media #{$mobile} {	
	.custom-select{ padding:0.8rem 2.4rem 0.8rem 1rem;}
}