
header{ width:94%; margin:0 auto; padding:1.6vw 0; background: none; @extend .clear; position:relative; z-index:100; }

.main-menu{ @include flexbox; @include align-items(center); padding:1.6vw 0 5vw;}

.left-links{ width:30%;
	> ul{ @include flexbox; @include align-items(center);
		> li{ display:inline-block; margin-right:1.5vw; position:relative;}
	}
	.icon-menu{ }	
	.icon-search{ }
	.logo-app{ display:none;
		img{ background:url(../images/mobile-logo-gogetterz.svg) center center no-repeat; width:5rem; height:5rem; background-size:contain; display:inline-block; }
	}
	.switch-lang{ font-size:1.6vw; text-transform:uppercase; font-weight:600; display:block; background:$darkgrey; color:$white; @include border-radius(1rem); padding:1rem; line-height:0.9;}

}
.center-links{ width:40%;
	ul{ @include flexbox; @include align-items(center);
		li{ width:30%; padding:0 1.5%; text-align:center; font-size:1.6vw; text-transform:uppercase; font-weight:600; }
	}
	.logo{
		img{ max-width: 100%; height:auto; display:block;}	
	}
}
.right-menu{ width:30%;
	.registration-links{ text-align:right;
		li{ display:inline-block; font-size:1.6vw; line-height:1; text-transform:uppercase; font-weight:600; margin-left:1vw;
			a{ padding:1rem 2rem; display:block; @include border-radius(1rem);
				&:hover{ background:$darkgrey; color:$white;}
			}	
		}	
	}	
	.account-dropdown { position: relative; min-width: 11vw; margin: 0 auto; font-size:1.2vw; float:right; font-weight:600;
		.notification-no{ background-color:$lightpink; position:absolute; top:-1rem; left:-1rem; color:$white; z-index:10; @include border-radius(50%); display:inline-block; width:2vw; height:2vw; text-align:center; }
	}
}	

.quich-search{ display:none; position:absolute; z-index:11; @extend .clear; @include box-sizing; min-width:20vw; top:120%; left:0; border:0.2vw solid $lightpink; @include border-radius(1rem); overflow:hidden;
	input[type="text"]{ float:left; width:80%; border:0 none; @include box-sizing; font-size:1.2vw; padding:1rem; font-weight:600; color:$lightpink;
		&::-webkit-input-placeholder { color: $lightpink;}
		&:-moz-placeholder { color: $lightpink; opacity: 1;}
		&::-moz-placeholder { color: $lightpink; opacity: 1;}
		&:-ms-input-placeholder { color: $lightpink;}
		&::placeholder{ color: $lightpink;}
	}
	input[type="submit"], button{ float:left; width:20%; border:0 none; @include box-sizing; font-size:1.2vw; background-color:$lightpink; padding:1rem; color:$white;
		background-image:url(../images/icon-arrow-search.svg); background-repeat:no-repeat; background-position:center center; background-size: 45% auto;
	}
}


/* Nav Start */

.dropdown-toggle {
	background:$grey; color:$white; @include border-radius(1rem); padding: 0.5rem 3rem 0.5rem 2rem; display: block;	position: relative;
	&.dropdown-open{  @include border-radius(1rem 1rem 0 0); }
	&:after {
		content: ""; position: absolute; @include vertical-align; right: 12px; width: 0; height: 0; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 6px solid $white;
	}
}
ul.dropdown {
	background: $bggrey3; @include border-radius(0 0 1rem 1rem); overflow:hidden; @include box-sizing; padding: 0; position: absolute; top: 100%; width: 100%; display: none;
	
	li { list-style-type: none;
		a {	text-decoration: none; padding: 1.5rem 3rem 1.5rem 2rem; display: block; color:$white; line-height:1;
			&:hover, &:active, &:focus{ background-color: $black;}
			span{ background-repeat:no-repeat; background-position:center center; width:1.2vw; height:1.2vw; display:inline-block; float:left; margin-right:1rem;}
			
			&.dashboard{
				span{ background-image:url(../images/icon-dashboard.svg);}	
			}
			&.signout{
				span{ background-image:url(../images/icon-signout.svg); width:1.5vw;}	
			}
		}
	}
}


#nav-icon4 {
	width: 30px;
	height: 30px;
	position: relative;
	@include transform(rotate(0deg));
	//@include transition(.5s ease-in-out);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	margin-right: 1rem;
	margin-top: -0.4rem;
}
#nav-icon4 span {
	display: block;
	position: absolute;
	height: 5px;
	width: 100%;
	background: $black;
	opacity: 1;
	left: 0;
	@include transform(rotate(0deg));
	//@include transition(.25s ease-in-out);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
	@include border-radius(0.5rem);
}
#nav-icon4 span:nth-child(1) {
	top: 0px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
	top: 10px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
	top: 20px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
	@include transform(rotate(45deg));
	top: 0px;
	left: 5px;
	background: $black;
}

#nav-icon4.open span:nth-child(2) {
	width: 0%;
	opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
	@include transform(rotate(-45deg));
	top: 21px;
	left: 4px;
	background: $black;
}

/*Media query*/
@media #{$desk} {		
	.center-links{ 
		ul{ 
			li{ font-size:1.8vw; }
		}
	}
	.right-menu{ 
		.registration-links{
			li{ font-size:1.8vw;}	
		}	
		.account-dropdown { font-size:1.5vw; }
	}
	
	.quich-search{ min-width:32rem; top:130%;
		input[type="text"]{ font-size:1.5vw;}
		input[type="submit"], button{ font-size:1.5vw;}
	}
}	

@media #{$tablet-landscape} {	
	.main-menu{ padding: 3rem 0;}
	.left-links{ width:100%; float:none;
		> ul{ 
			> li.nonmobile{ display:none; }
			> li{ width:33%;}
		}
		.logo-app{ text-align:center; display:block;}
		.top-search{ text-align:right;}
		.switch-lang{ font-size: 1.6rem;padding: 1rem 1.5rem;}
		.language{ display:none;}
		.icon-search{ margin-right:0;}
	}
	.center-links{ display:none;
		/*ul{ 
			li{ display:none;}
			li{ width:100%; text-align:center;}
		}
		.logo{
			img{ max-width:20rem; display:inline-block;}	
		}*/
	}
	#cssmenu{ 
		ul{
			li{ background:rgba(0,0,0,0.85); text-align:center;
				&.login-li{ padding:2rem 0;}
				&.imp{ 
					a{ text-transform:uppercase; font-weight:600; font-size:3rem;}
				}
			}	
		}
		hr{	height: 2px;background: $lightpink; margin: 0;padding: 0;border: 0;}
	}

	#nav-icon4{	height: 21px;}
	.right-menu{ display:none;
		.registration-links{
			li{ font-size:1.6rem;}	
		}	
		.account-dropdown { font-size:1.4rem;
			.notification-no{ width:2rem; height:2rem; line-height:2rem;}
		}
	}
	
	.quich-search{ min-width:25rem; left:auto; right:0;
		input[type="text"]{ font-size:1.5rem;}
		input[type="submit"], button{ font-size:1.5rem;}
	}
}

@media #{$tablet-portrait} {
	.main-menu{ padding: 2rem 0; @include flex-wrap(wrap);}
	
	.center-links{ width:70%; 
		ul{ 
			li{ text-align:right;}
		}
		.logo{
			img{ max-width:16rem; display:inline-block;}
		}
	}
	.left-links{
		.switch-lang{ font-size: 1.6rem;padding: 1rem 1.5rem;}
	}
	.right-menu{ width:100%;
		.registration-links{ margin:2rem 0;}
		.account-dropdown{ width:90%; max-width:30rem; float:none; font-size:1.6rem;
			.notification-no{ width:3rem; height:3rem; line-height:3rem;}
		}		
	}
	.dropdown-toggle{ padding: 1rem 3rem 1rem 2rem;}
	ul.dropdown{
		li a{ 
			span{ width: 1.5rem; height: 1.5rem;}
			&.signout{ 
				span { width:1.8rem;}
			}
		}
	}
	
}

@media #{$mobile} {		
	
}		