.home-welcome{ margin-bottom:4vw;
	.home-welcome-image{ float:left; width:52%;}
	.welcome-copy{ float:right; width:42%;
		h1{ font-weight:700; font-size:4vw;}
		p{ font-size:1.2vw;}
		
	}
	.welcome-slider{ @include border-radius(0.8vw); overflow:hidden; margin:0;
		img{ width:100%; height:auto; display:block; @include border-radius(0.8vw);}
	}
}

.categories-courses-users{ padding: 4vw 0; position:relative;
	&::before { content: ""; pointer-events: none; position: absolute; top: 110%; left: -25%; z-index: -1; width: 150%; height: 120%; background: $bggrey; @include rotate(-25); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
	
	.top-categories{ @include flexbox; @include justify-content(center); @include align-items(center); background:$grey; padding:2%; @include border-radius(0.8vw 0.8vw 0 0);
		.section-label{ width:20%; font-size:2.2vw; line-height:1; color:$white; font-weight:600; text-transform:uppercase; @include box-sizing;}
		.category-info{ width:20%; @include box-sizing; padding: 0 1%; text-align:center;
			figure{ @include border-radius(0.8vw); overflow:hidden;
				.img-name{ width:100%; display:block; height:0; padding-bottom:85%; background-position:center center; background-repeat:no-repeat; background-size:80% 80%; background-color:$white;}
				figcaption{ color:$white; font-weight:600; text-transform:uppercase; background:$lightpink; font-size:1.5vw; line-height:1; 
					a{ display:block; padding:1vw 0; color:$white;}
				}	
			}	
		}	
	}	
	.quick-info{ margin-top:0.6vw; @extend .clear; color:$white;
		.courses-info{ background:$lightpink;  padding:2%; @include border-radius(0 0 0 0.8vw); float:left; width:49.7%; @include box-sizing; @include flexbox; @include justify-content(center); @include align-items(center);}
		.users-info{ background:$pink;  padding:2%; @include border-radius(0 0 0.8vw 0); float:right; width:49.7%; @include box-sizing;  @include flexbox; @include justify-content(center); @include align-items(center);}
		
		span.icon{ width:24%; margin-right: 4%; display:inline-block; height:0; padding-bottom: 15%; background-position:center center; background-repeat:no-repeat; background-size:80% 80%;
			&.courses{ background-image:url(../images/icon-courses.svg);}
			&.users{ background-image:url(../images/icon-users.svg);}
		}
		span.info{ font-size:3.6vw;}
	}
}


.quick-lessons-slider{ padding:4vw 0; overflow:hidden; 
	figure{ @include border-radius(0.8vw); overflow:hidden; @include box-shadow(2px, 3px, 16px, rgba(0,0,0,0.3));
		.img-name{ width:100%; display:block; height:0; padding-bottom: 70%; background-position:center center; background-repeat:no-repeat; background-size: cover; background-color:$white;}
		figcaption{ font-weight:600; text-align:center; font-size:1.5vw; line-height:1; padding: 1.5vw 0; background:$white;}	
	}	
	&.slick-slider{ margin:0;}
	.slick-list{ overflow:visible;}
	.slick-slide{ padding:2rem; @include box-sizing;}
	.slick-dots{ bottom:0; /*position:static; margin:2rem 0;*/}
	
	/* For center mode of carousal */
	.slick-slide:not(.slick-center) { z-index: 0; @include transform(scale(1));}
	.slick-active.slick-center+.slick-slide+.slick-slide { z-index: 1;}
	.slick-active.slick-center+.slick-slide,
	.slick-center+.slick-cloned { z-index: 2;}
	.slick-center { z-index: 3; @include transform(scale(1.25));}
	.slick-slide { position: relative; -webkit-transition:transform 80ms; -moz-transition:transform 80ms; transition: transform 80ms;}
	.slide figure { position: relative; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); transform: translateX(-50%); left: 50%;}
	.slick-prev { left: 0% !important;	}
	.slick-next { right: 0% !important;}
}

.home-info-container{ padding:4vw 0; background: $lightpink; color:$white;
	.home-info-image{ float:left; width:49%; margin-left:3%; margin-top:3vw;
		img{ width:100%; height:auto;}
	}
	.info-copy{ float:right; width:40%; margin-left: 2%;
		h2{ text-transform:uppercase; margin-bottom:3vw;}
		h3{ font-size: 3vw; margin-bottom:1vw;}
		p{ font-size:1.2vw;}
		.steps{
			ol{ list-style-type: none; counter-reset: steps-counter;}
			li{ position:relative; padding-left:14%; margin-bottom:2vw;
				&:before{ content: counter(steps-counter); counter-increment: steps-counter; position: absolute; left: 0; top: 0; background:$darkgrey; font-size:3vw; line-height:1; min-width:1.5vw; text-align:center; padding:0.5rem 1.5rem; @include border-radius(1rem);}	
			}	
		}
	}
	.button-container{ position:relative; z-index:10;}
}


/*Media query*/

@media #{$laptops} {	
	.home-welcome{ 
		.welcome-copy{ 
			p{ font-size:1.4vw;}			
		}		
	}
	
}
@media #{$desk} {		
	.home-welcome{ 
		.welcome-copy{ 
			p{ font-size:1.6vw;}			
		}		
	}
	.categories-courses-users{ 
		.top-categories{ 
			.category-info{ 
				figure {
					figcaption{ font-size:1.7vw;}
				}
			}
		}
	}
	.home-info-container{
		.home-info-image{}
		.info-copy{ 
			h3{ font-size: 3.4vw;}
			p{ font-size:1.6vw;}
			
			.steps{ 
				li{ padding-left:14%;}
			}
		}
	}
}	

@media #{$tablet-landscape} {	
	.home-welcome{ 
		.welcome-copy{ 
			h1{ font-size: 3.4rem;}
			p{ font-size:1.6rem;}			
		}
		.welcome-slider{ @include border-radius(1rem); 
			img{ @include border-radius(1rem);}
		}		
	}
	.categories-courses-users{ 
		.top-categories{ @include flex-wrap(wrap); @include border-radius(1rem 1rem 0 0); padding:2rem 2%;
			.section-label{ width:100%; text-align:center; font-size:2rem; margin-bottom:2rem;}
			.category-info{ width:25%;
				figure { @include border-radius(1rem);
					figcaption{ font-size:1.8rem;
						a{ padding: 2vw 0;}
					}
				}
			}
		}
		.quick-info{ margin-top: 1vw;
			.courses-info{ @include border-radius(0 0 0 1rem); width:49.5%;}
			.users-info{ @include border-radius(0 0 1rem 0); width:49.5%;}
		}
	}
	.quick-lessons-slider{ padding:4rem 0;
		figure{ @include border-radius(1rem);
			figcaption{ font-size: 1.6rem; padding: 2rem 0;}
		}
		.slick-slide{ padding:1rem;}
	}
	
	.home-info-container{
		.home-info-image{ width: 45%; margin-left:0; margin-top: 5vw;}
		.info-copy{ width: 52%;
			h3{ font-size: 2.6rem;}
			p{ font-size:1.4rem;}
			
			.steps{ 
				li{ padding-left:14%; margin-bottom: 2rem;
					&:before{ font-size:2.2rem; min-width:auto;}
				}
			}
		}
	}
}

@media #{$tablet-portrait} {
	.home-welcome{ 
		.home-welcome-image{ float:none; width:100%; margin-bottom:3rem;}
		.welcome-copy{ float:none; width:100%;
			h1{ font-size: 3.4rem;}
			p{ font-size:1.6rem;}			
		}		
	}
	.categories-courses-users{ 
		.top-categories{ 
			.category-info{ width:50%; padding: 0 3% 4vw;
				figure { 
					figcaption{ font-size:1.8rem;}
				}
			}
		}
		.quick-info{ 
			.courses-info{ width:100%; @include border-radius(0);}
			.users-info{ width:100%; @include border-radius(0 0 1rem 1rem);}
			
			span.info{ font-size: 2.6rem;}
		}
	}
	.quick-lessons-slider{ padding:3rem 0;
		figure{ 
			figcaption{ font-size: 1.7rem; }
		}
		.slick-slide{ padding: 0;}
		.slick-center { @include transform(scale(1));}
		.slick-slide { position: static; -webkit-transition: none; -moz-transition: none; transition: none;}
		.slide figure { position: relative; -webkit-transform: translateX(0); -moz-transform: translateX(0); transform: translateX(0); left: 0;}
	}
	
	.home-info-container{
		.home-info-image{ width: 100%; float:none; text-align:center; margin-top: 1rem; margin-bottom:4rem;
			img{ width:80%;}
		}
		.info-copy{ width: 100%; float:none;
			h3{ font-size: 2.4rem;}
			p{ font-size:1.5rem;}
			
			.steps{ 
				li{ }
			}
		}
	}
}

@media #{$mobile} {		
	.categories-courses-users{ 
		.top-categories{ 
			.category-info{ 
				figure { 
					figcaption{ font-size:1.7rem;}
				}
			}
		}
		.quick-info{ 			
			span.info{ font-size: 2.2rem;}
		}
	}
}		