
.info-help-container{ @extend .clear;
	.data-container{ float:left; width:52%; @include box-sizing; padding:2vw 5%; background:$m-grey; @include border-radius(0.8vw);}
	.img-container{ float:right; width:38%; padding:2vw 0;
		img{ width:100%; height:auto;}
	}	
}

/*Media query*/
@media #{$desk} {		
	
}	

@media #{$tablet-landscape} {
	
}

@media #{$tablet-portrait} {
	
}
@media #{$mobile} {		
	
}	