
.login-registration{ padding: 0 0 10vw; position:relative; 
	&::before { content: ""; position: absolute; top: 70vw; left: -50%; width: 200%; height: 60vw; pointer-events: none; z-index: -1; background: $bggrey; 
	@include rotate(-25); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
	
	.m-page-container{ @extend .clear;}
	
	.copy-container{ float:left; width:38%;
		h2{ margin-bottom:2vw;}
		p{ font-size:1.2vw; margin-bottom:2vw;}
	}
	.process-container{ float:right; width:60%; @include box-sizing; padding:1rem;
		.form-container{ @include box-shadow(4px, 4px, 16px, 2px, rgba(0,0,0,0.3)); background:$white; padding:3vw 8%; width:66%; @include box-sizing; @include border-radius(0.8vw);
			&.payment-container{ padding:3vw 5%;}
		}
		.social-links{ text-align:center;
			&.top-margin{ margin-top:6vw; }
		}
	}
	/*Custom checkbox*/
	.checkbox{ background:$bggrey4; @include border-radius(5px); margin-bottom:1rem;
		input[type=checkbox].css-checkbox + label.css-label{ padding-left:2vw; padding-right: 5rem; background-position: right 0; width:100%; @include box-sizing;}
		input[type=checkbox].css-checkbox:checked + label.css-label { background-position: right -235px;}
		input[type=checkbox].css-checkbox + label.css-label.error { background-position: right -475x; }
		input[type=checkbox].css-checkbox:checked + label.css-label.error { background-position: right -216px;}
		
		label.css-label { background-image:url(../images/chk-box-reg.png); }
	}
}

.thanks-container{ padding:12vw 0; position:relative;
	&::before { content: ""; position: absolute; top: 70vw; left: -50%; width: 200%; height: 60vw; pointer-events: none; z-index: -1; background: $bggrey; 
	@include rotate(-25); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
	
	.copy-container{ width:40%; margin:0 auto; text-align:center;
		h2{ margin-bottom:2vw;}
		p{ font-size:1.2vw; margin-bottom:2vw;}
		.button-container{ width:80%; margin:5vw auto 0;}
	}
}

.payment-container{
	 padding:3vw 5%;
	.payment-price{ @extend .clear; margin-bottom:2vw;
		.currency{ float:left; width:40%;
			
		}
		.cost{ float:right; width:40%; text-align:right; font-size:2.3vw; font-weight:600;}
	}
	.custom-select{ font-size:1.3vw; padding: 1vw 2.5vw 1vw 1vw; text-transform:uppercase;}
	.accordion-group{	
		&.theme-grey{
			 .accordion-group__accordion{ @include box-shadow(0, 0, 0, 0, rgba(0,0,0,0.2)); 
				.accordion-group__accordion-btn{ background-color:$bggrey2; color:$grey; font-size:1.2vw; font-weight:600; padding: 1.5vw 2vw; text-transform:uppercase;
					&:after{ display:none;}
					&.accordion-group__accordion-btn_expanded{ background-color: $bggrey;}
				}
				.accordion-group__accordion-panel{ background-color:$bggrey; color:$grey; padding: 0.5vw 2vw 2vw;}
			 }		 
		}
	}
	&.form-container{
		.form-element{
			input[type="text"], input[type="date"], input[type="tel"], input[type="password"], textarea{ border-color:$white;}	
		
			&.form-expire-date{ float:left; width:60%;
				label.title{ float:left; padding: 1vw 0.5vw;}
				input[type="text"], input[type="date"], input[type="tel"], input[type="password"], textarea{ float:left; text-align:center; width:3vw; padding:0.5vw; margin-right:0.5vw;}
			}
			&.form-cvv{ float:right; width:38%;
				label.title{ float:left; padding: 1vw 0.5vw;}
				input[type="text"], input[type="date"], input[type="tel"], input[type="password"], textarea{ float:left; text-align:center; width: 3.4vw; padding:0.5vw;}
				.icon-info{ margin:0.4vw; margin-left:1vw;}
			}
		}
	}
	.payment-via-others{ margin-bottom:4rem;}
}

/*Media query*/
@media #{$desk} {		
	.login-registration{
		.copy-container{ width:45%;
			p{ font-size:1.5vw;}
		}
		.process-container{ width:50%;
			.form-container{ width:90%;}
		}
	}
	.thanks-container{
		.copy-container{ 
			p{ font-size:1.5vw;}
		}
	}
	.payment-container{ 
		.payment-price{ 
			.currency{ width:55%;
				
			}
			.cost{ width:40%; font-size:2.8vw; }
		}
		.custom-select{ font-size:1.7vw;}
		&.form-container{
			.form-element{
							
				&.form-expire-date{ 
					input[type="text"], input[type="date"], input[type="tel"], input[type="password"], textarea{ width:4vw;}
				}
				&.form-cvv{ 
					input[type="text"], input[type="date"], input[type="tel"], input[type="password"], textarea{ width: 4.5vw;}
				}
			}
		}
		.accordion-group{	
			&.theme-grey{
				 .accordion-group__accordion{ 
					.accordion-group__accordion-btn{ font-size:1.6vw; }
					.accordion-group__accordion-panel{ font-size:1.6vw;}
				 }		 
			}
		}
	}
}	

@media #{$tablet-landscape} {
	.login-registration{
		&::before { top:80vw; height: 140%;}
		.copy-container{ width:100%; float:none; margin-bottom:3rem;
			p{ font-size:1.6rem;}
		}
		.process-container{ width:100%; float:none; padding:0;
			.form-container{ width:100%; padding:4rem 5%; @include border-radius(1rem);}
			.social-links{ 
				&.top-margin{ margin-top:4rem;}
			}
		}
	}
	.thanks-container{
		&::before { top:80vw; height: 140%;}
		.copy-container{ width:80%;
			p{ font-size:1.6rem;}
		}
	}
	.payment-container{ 
		.payment-price{ 
			.currency{ }
			.cost{ font-size:2.4rem; }
		}
		.custom-select{ font-size:1.8rem; padding: 1rem 3rem 1rem 1rem;}
		&.form-container{
			.form-element{
							
				&.form-expire-date{ 
					input[type="text"], input[type="date"], input[type="tel"], input[type="password"], textarea{ width:8vw;}
				}
				&.form-cvv{ 
					.icon-info { margin: 0.5rem; margin-left: 5%;}
					input[type="text"], input[type="date"], input[type="tel"], input[type="password"], textarea{ width: 10vw;}
				}
			}
		}
		.accordion-group{	
			&.theme-grey{
				 .accordion-group__accordion{ 
					.accordion-group__accordion-btn{ font-size:1.7rem; padding: 1.5rem 2rem;}
					.accordion-group__accordion-panel{ font-size:1.7rem;  padding: 0.5rem 2rem 1.5rem;}
				 }		 
			}
		}
	}
}

@media #{$tablet-portrait} {
	.login-registration{
		.copy-container{ margin-top:3rem;}		
	}
	.payment-container{ 		
		&.form-container{
			.form-element{							
				&.form-expire-date{ float:none; width:100%; margin-bottom:2rem; clear:both;
					&:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;}
					
					label.title{ width:35%;}
					input[type="text"], input[type="date"], input[type="tel"], input[type="password"], textarea{ width:20%; margin-right: 1rem;}
				}
				&.form-cvv{ float:none; width:100%; clear:both;
				
					label.title{ width:35%;}
					input[type="text"], input[type="date"], input[type="tel"], input[type="password"], textarea{ width:30%;}
				}
			}
		}
	}
}

@media #{$mobile} {		
	
}		