/* Media query */

$mobile: 			"screen and (max-width : 481px)";
$tablet-portrait: 	"screen and (max-width : 639px)";
$tablet-landscape: 	"screen and (max-width : 959px)";
$desk: 				"screen and (max-width : 1180px)";
$laptops: 			"screen and (max-width : 1440px)";
$fullHD: 			"screen and (max-width : 1920px)";
$screen2K:			"screen and (max-width : 2048px)";
$screen4K:			"screen and (max-width : 3840px)";

/* Example
---1160px---
	@media #{$desk} {
	
	}

---959px---
	@media #{$tablet-landscape} {
	
	}

*/