
.certificate-btn{ @include box-shadow(4px, 4px, 16px, 2px, rgba(0,0,0,0.3)); background-color:#fd7c7c; color:$white;}

.certificate-grid{  @include flexbox; @include flex-wrap(wrap); @include justify-content(space-between); position:relative;
	article{ @include flexbox; @include flex-direction(column); width:23%; background:$fadepink; color:$grey; @include box-sizing; padding:1.5vw; margin-bottom:2vw; @include border-radius(0.8vw);
		h5{ margin-bottom:1rem; font-size:1.2vw; font-weight:600; text-align:center; text-transform:uppercase;}
		.certificate-img{
			img{ width:100%; height:auto;}	
		}
		.course-name{ font-size:1.2vw; font-weight:600; @include flex(1 0 auto); margin-bottom:1vw; text-align:center;}
	}
}

.tranks-certificate{ text-align:center; padding:6vw 10% 4vw;
	p{ font-size:1.2vw; width:80%; margin:0 auto 2vw;}
}

/*Media query*/
@media #{$desk} {		
	
}	

@media #{$tablet-landscape} {
	
}

@media #{$tablet-portrait} {
	
}
@media #{$mobile} {		
	
}	