
.event-location{ @extend.clear; padding:1vw 0;
	.address{ float:left; width:48%; font-weight:400;
		strong{ font-weight:600;}
	}
	.map{ float:right; width:48%; 
		iframe{ width:100%; height:40%; @include border-radius(0.8vw); overflow:hidden;}
	}
}
.add-location{ @extend.clear; padding:1vw 0;
	.address{ width:100%; margin-bottom:1vw;
		input[type="text"], input[type="date"], input[type="tel"], input[type="password"], textarea{ float:none !important; width:100% !important;}
	}
	.seating-capacity{ @extend.clear;
		.form-element{
			label.title{ float:left; width:50% !important;}
			.custom-select{ float:left; width:40% ;}	
		}
	}
}

/*Media query*/
@media #{$desk} {		
	
}	

@media #{$tablet-landscape} {
	
}

@media #{$tablet-portrait} {
	
}
@media #{$mobile} {		
	
}	