.members-container{ @extend .clear; margin-bottom:5vw;}
.user-info{ text-align:center; margin-bottom:2vw; @extend .clear;
	figure.user-img{ position:relative; padding-bottom:80%; height:0; width:80%; margin: 0 auto 2.5vw; @include border-radius(50%); background-repeat:no-repeat; background-size:cover; background-position: center top;}
	.edit-icon{ background:$lightpink url(../images/icon-pencil.svg) center center no-repeat; @include horizontal-align; @include border-radius(50%); z-index:10; top:90%; width:2.2vw; height:2.2vw; background-size:60% auto; display:inline-block;}
	.user-data{ 
		h4{ margin-bottom:1vw;}
		.points{ font-size:1.2vw; line-height:1;
			span{ @include border-radius(0.5vw); border:1px solid $grey; padding:0.5vw 2vw; display:inline-block;}	
		}	
	}
}
.member-left-links{ float:left; width:16%;	
	.members-links{ 
		li{ display:block; text-align:left; margin-bottom:0.5vw;
			a{ display:block; font-weight:500; color:$grey; text-transform:uppercase; background:$m-grey; @include border-radius(0.4vw); padding:1vw; font-size:1.2vw;
				.icon{ background:url(../images/icon-members-link.svg) 0 0 no-repeat; background-size: 200% 1500%; display:inline-block; vertical-align:middle; width:2.5vw; height:2vw;
				/* Icons -> 400 x 2400; Single -> 200 x 160; */
					&.setting-nav{ background-position: 100% 0;}
					&.dashboard-nav{ background-position: 100% 8%;}
					&.categories-nav{ background-position: 100% 15%;}
					&.courses-nav{ background-position: 100% 22.5%;}
					&.notifications-nav{ background-position: 100% 29%;}
					&.messages-nav{ background-position: 100% 36%;}
					&.certifications-nav{ background-position: 100% 43%;}
					&.points-nav{ background-position: 100% 50.5%;}
					&.help-nav{ background-position: 100% 57%;}
					&.course-management-nav{ background-position: 100% 64.2%;}
					&.sales-management-nav{ background-position: 100% 71.8%;}
					&.event-management-nav{ background-position: 100% 79%;}
					&.quick-lesson{ background-position: 100% 85.5%; }
					&.billings{ background-position: 100% 92.6%; }
					&.settings{ background-position: 100% 100%; }
				}				
				
			}
			&.active, &:hover, &:focus{ 
				a{ background-color:$lightpink; color:$white;
					.icon{
						&.setting-nav{ background-position: 0 0;}
						&.dashboard-nav{ background-position: 0 8%;}
						&.categories-nav{ background-position: 0 15%;}
						&.courses-nav{ background-position: 0 22.5%;}
						&.notifications-nav{ background-position: 0 29%;}
						&.messages-nav{ background-position: 0 36%;}
						&.certifications-nav{ background-position: 0 43%;}
						&.points-nav{ background-position: 0 50.5%;}
						&.help-nav{ background-position: 0 57%;}
						&.course-management-nav{ background-position: 0 64.2%;}
						&.sales-management-nav{ background-position: 0 71.8%;}
						&.event-management-nav{ background-position: 0 79%;}
						&.quick-lesson{ background-position: 0 85.5%; }
						&.billings{ background-position: 0 92.6%; }
						&.settings{ background-position: 0 100%; }
					}
				}
			}
		}	
	}
}
.member-content-area{ float:right; width:82%;
	.member-content-heading{ @extend .clear; background:$lightpink; @include border-radius(0.8vw 0.8vw 0 0); padding:1.8vw 3vw;
		h3{ color:$white; text-transform:uppercase; line-height:1.8;}
	}
	.inner-heading{ @extend .clear; margin-bottom:2vw;}
	.content-grey-box{ background:$m-grey; padding:4vw 4%; margin-bottom:4vw; @include border-radius(0.8vw); overflow:hidden;
		&.no-top-border{ @include border-radius(0 0 0.8vw 0.8vw);}
		&.small-padding{ padding:2vw 3%;}
		
		.bg-grey{ background:$grey; color:$white; padding:1.8vw 5%; @include border-radius(0.8vw 0.8vw 0 0);}
		h4{ margin-bottom:2vw;}
		h6{ margin-bottom:1vw;}
		.note{ font-size:1.2vw;
			&.add-padding{ padding:1vw;}
			.moderator{ display:inline-block; padding:0.2vw; margin:0 0.5vw 0 1vw; vertical-align:middle; background:$lightpink; color:$white; font-size:1vw; line-height:1; @include border-radius(0.2vw);}
		}
		
	}
	.content-white-box{ background:$white; padding:2.5vw 5%; @include box-shadow(4px, 4px, 16px, 2px, rgba(0,0,0,0.3)); @include border-radius(0.8vw);
		&.margin-bot{ margin-bottom:3vw;}
		&.no-top-border{ @include border-radius(0 0 0.8vw 0.8vw);}
		
		h3{ font-weight:500; margin-bottom:2vw;
			&.no-margin{ margin:0; line-height:1.5;}
		}
		h4{ margin-bottom:2vw;
			&.no-margin{ margin:0;}
		}
		.form-container{
			.form-element{ @extend .clear; padding-right:18%;
				
				label.title{ float:left; width:22%; margin-right:4%; padding: 1vw 0.3vw 1vw 0; @include box-sizing; position:relative;
					&:after{ content:":"; position:absolute; right:0; @include vertical-align;}
					span{ font-size:1vw;}
				}	
				input[type="text"], input[type="date"], input[type="tel"], input[type="password"], textarea{ float:left; width:74%; background-color:$fadepink; border-color:$fadepink; font-family:$font-reg; font-weight:400;
					&.width40{ width:50%;}
					&.width30{ width:40%;}
					&.width80{ width:74%;}
					&.full-width{ width:100%;}
				}
				.left-container{ float:left; width:26%; }
				.right-container{ float:left; width:74%;
					&.width40{ width:50%;}
					&.width30{ width:40%;}
				}
				.name{ padding: 1vw 0; float:left; font-size:1.2vw; font-weight:600;}
				.note{ width:32%; font-size:0.9vw; line-height:1; margin-left:2%;
					&.full-width{ width:100%; padding:1rem 0; display:block;}
				}
			}
			&.no-padding{ 
				.form-element{ padding-right: 0;}
			}
			&.theme-grey{
				.form-element{
					input[type="text"], input[type="date"], input[type="tel"], input[type="password"], textarea{ background-color:$m-grey; border-color:$m-grey;}
				}
			}	
			&.theme-white{
				.form-element{
					input[type="text"], input[type="date"], input[type="tel"], input[type="password"], textarea{ background-color:$white; border-color:$white;}
				}
			}
		}
		.radioGroup{ @include flexbox; float:left; width:74%; @include box-sizing; padding:1vw 0;
			h6{ padding:0.5vw 0; margin-right:1rem;}
			&.block{ display:block;
				.radio-item{ margin-right:0; margin-bottom:1vw;}
			}
		}
		.custom-select{ float:left; width:40%; font-size:1.2vw; background-color:$fadepink; border-color:$fadepink; font-family:$font-reg; color:$grey; background-image: url(../images/icon-arrow-down-black.svg);
			&.width20{ width:30%;}
			&.width40{ width:50%;}
			&.width60{ width:74%;}
			&.full-width{ width:100%;}
			
			&.white{ background-color:$white; border-color:$white;}
			&.grey{ background-color:$m-grey; border-color:$m-grey; color:$grey;}
			&.margin-bot{ margin-bottom:2vw;}
			&.margin-left{ margin-left:2%;}
		}
		.file-upload{ float:left; width:40%; font-size:1.2vw; clear:none;			
			&.right{ float:right;}
			&.upload-img, &.upload-video{ width:25%;}
			&.attached-img{ width:30%;}
		}
		.social-links-container{ @extend .clear; font-size:1.2vw; font-weight:500; 
			p{ padding:1vw 0; }
			.social-row{ margin-bottom:1rem; @extend .clear;}
			.left{ width:30%; padding: 0.5rem 0;
				.icon-fb, .icon-tw, .icon-ig{ margin-left:0; margin-right:1rem; width: 1.8vw; height: 1.8vw;}
			}
			.right{ width:70%;
				.account-info{ background:$grey; @include border-radius(0.4vw); color:$white; display:inline-block; padding-left:2rem; @include box-sizing;}
			}
		}
		.date-range{
			.form-container{
				.form-element{ clear:none;
					label.title{ padding:1vw 0;}
					input[type="text"], input[type="date"], input[type="tel"], input[type="password"], textarea{ background-color:$m-grey; border-color:$m-grey; width:75%;}
				}
			}
			&.pink{
				.form-container{
					.form-element{ width:45%;
						label.title{ text-transform:none;}
						input[type="text"], input[type="date"], input[type="tel"], input[type="password"], textarea{ background-color:$fadepink; border-color:$fadepink;}
					}
				}				
			}
		}
	}
}

.select-categories{ @extend .clear;
	.copy-container{ float:left; width:30%;
		h3{ margin-bottom:1vw;}
		p{ font-size:1.2vw; margin-bottom:2vw;}
	}
	.process-container{ float:right; width:65%; @include box-sizing; 
		.form-container{ @include box-sizing; width:70%;}
	}	
	/*Custom checkbox*/
	.checkbox{ background:$fadepink; @include border-radius(5px); margin-bottom:1rem;
		input[type=checkbox].css-checkbox + label.css-label{ padding-left:2vw; padding-right: 5rem; background-position: right 0; width:100%; @include box-sizing;}
		input[type=checkbox].css-checkbox:checked + label.css-label { background-position: right -235px;}
		
		label.css-label { background-image:url(../images/chk-box-pink.png); }
	}
}

.member-heading-nav{
	display:inline-block;
	.sm-simple{ background:$lightpink; border:0 none; @include border-radius(0.8vw);
		a{ color:$white; font-size:1.5vw; font-weight:600; padding:0.8vw 2vw;
			&:hover, &:focus, &:active, &.highlighted{ background-color:$red; }
			.sub-arrow{ width:1.2vw; height:0.8vw; margin-top:auto; @include vertical-align; right:1rem;
				&::before{ content: ''; background:url(../images/icon-arrow-down-white.svg) no-repeat; background-size:contain; display:block; width:1.2vw; height:0.8vw;}
			}
			&.highlighted{
				.sub-arrow{ 
					&::before{ content: ''; }
				}
			}
		}
		ul { background:$lightpink; @include box-shadow(4px, 4px, 16px, 2px, rgba(0,0,0,0.3)); border:0 none; min-width:100% !important;
			a{ font-size:1.2vw; color:$white;
				.sub-arrow{
					&::before{ background-image: url(../images/arrow-right.svg);}
				}
			}
		}
		> li > a{ @include box-shadow(4px, 4px, 16px, 2px, rgba(0,0,0,0.3)); @include border-radius(0.8vw);}
	}	
}

.back-link{ font-size:1.2vw; font-weight:600; margin-bottom:2rem;
	a{ 
		&:hover, &:focus{ text-decoration:underline;}
	}	
}

.member-breadcrumb{ margin-bottom:2vw; font-weight:600; font-size:1.2vw;
	a{
		&:hover{ text-decoration:underline; }	
	}
	.divider{ margin:0 1rem;}
}


/*Media query*/
@media #{$desk} {
	.member-left-links{ width:18%;
		.members-links{ 
			ul{ 
				li{ 
					a{ font-size:1.5vw;}
				}
			}
		}
	}
	.member-content-area{ width:80%;
		.content-white-box{ 
			.form-container{ 
				.form-element{ padding-right:0;}
			}
			.custom-select{ font-size:1.5vw;}
			.social-links-container{ font-size:1.5vw;}
		}
	}
	.select-categories{
		.copy-container{ width:45%;
			p{ font-size:1.5vw;}
		}
		.process-container{ width:50%;
			.form-container{ width:90%;}
		}
	}
}	

@media #{$tablet-landscape} {
	.page-container{ 
		&.member-page-container{ width:100%;}
	}
	.members-container{ margin-bottom:0;}
	.member-left-links{ width:100%; float:none; position:fixed; left:0; bottom:0; z-index:10;
		.user-info{ display:none; }
		.members-links{ background:$white;
			ul{ @include flexbox; @include flex-wrap(wrap); border-top:1px solid $bggrey5;
				li{ width:20%; border-bottom:1px solid $bggrey5; margin-bottom:0;
					a{ font-size:1.5rem; text-align:center; background:none; padding: 1rem 0.3rem; @include border-radius(0);
						.icon{ margin:0 auto; display:block; width: 5vw; height: 4vw;
							&.menu-close{ background-image:url(../images/mobile-menu-open.png); background-size: contain; width: 5rem; height: 4.5rem;}
						}
					}
					&.active, &:hover, &:focus{ 
						a{  
							&.open-mobile-menu { background:none;}
						}
					}
					&.active{ 
						a{  							
							.icon{ 
								&.menu-close{ background-image:url(../images/mobile-menu-close.png);}
							}
						}
					}
				}
			}
		}
	}
	.member-content-area{ width:100%; float:none;
		.member-content-heading{ @include border-radius(0); padding:0; background:none;
			.left{ float:none;  }
			.right{ float:none;}
			.heading__h3{ background:$lightpink; padding:1rem 5%;}
		}
		.content-white-box{ @include box-shadow(0, 20px, 30px, rgba(142,142,142,0.2), inset); @include border-radius(0); padding: 3rem 5%;
			&.no-top-border{ @include border-radius(0);}
			h3{ color:$lightpink;}
			h4{ color:$lightpink;}
			.form-container{ 
				.form-element{ 
					label.title{ padding: 1rem 0.5rem 1rem 0;}
				}
			}
			.custom-select{ font-size:1.7rem;}
			.social-links-container{ font-size:1.6rem;
				.left{ 
					.icon-fb, .icon-tw, .icon-ig{ width: 1.8rem; height: 1.8rem;}
				}
				.right{ 
					.account-info{ @include border-radius(0.5rem); }
				}
			}
		}
		.content-grey-box{ @include border-radius(0); padding:0; margin-bottom:0; background:none;
			&.no-top-border{ @include border-radius(0);}
			.bg-grey{ @include border-radius(0); padding: 2rem 5%;}
		}
	}
	.user-info{ background:rgba(0,0,0,0.85); margin-bottom:0; padding:2rem 10%;
		figure.user-img{ float:left; width:25%; padding-bottom:25%; margin-left:10%;}
		.edit-icon{ position:absolute !important; width:2rem; height:2rem; padding:0 !important;}
		.user-data{ float:left; width:60%; margin-left:5%; color:$white;
			h4{ text-align:left; font-weight:500; font-size:2rem;
				&:before{ content:"Hi, "; color:$pink;}	
			}
			.points{ text-align:left; 
				span{ display:inline-block !important; padding:1rem !important; border:1px solid $pink; font-size:1.5rem !important;}
			}	
		}
	}
	
	.select-categories{
		&::before { top:80vw; height: 140%;}
		.copy-container{ width:100%; float:none; margin-bottom:3rem;
			p{ font-size:1.6rem;}
		}
		.process-container{ width:100%; float:none; padding:0;
			.form-container{ width:100%; padding:2rem 5%; @include border-radius(1rem);}
		}
	}
}

@media #{$tablet-portrait} {
	.member-left-links{ 
		.members-links{ 
			ul{ 
				li{ 
					a{ font-size:1.4rem; line-height:1; font-weight:400;
						.icon{ width: 10vw; height: 8vw;}
					}
				}
			}
		}
	}
	.member-content-area{ 
		.content-white-box{ 
			.form-container{ 
				.form-element{ 
					input[type="text"], input[type="date"], input[type="tel"], input[type="password"], textarea{ 
						&.width40{ width:74%;}
						&.width30{ width:74%;}
						&.width80{ width:74%;}
					}	
				}
			}
			.custom-select{ width:74%; font-size:1.6rem;
				&.width20{ width:74%;}
				&.width40{ width:74%;}
				&.width60{ width:74%;}				
			}
			.file-upload{ width:74%; font-size:1.6rem;}
			.social-links-container{ font-size:1.5rem;
				.left{ float:none; width:100%;}
				.right{ float:none; width:100%;}
			}
		}
	}
}
@media #{$mobile} {		
	.member-left-links{ 
		.members-links{ 
			ul{ 
				li{ 
					a{ font-size:1.3rem;}
				}
			}
		}
	}
	.member-content-area{ 
		.content-white-box{ 
			.form-container{ 
				.form-element{ 
					label.title{ float: none; width: 100%; margin-right: 0;
						&:after{ display:none;}
					}
					input[type="text"], input[type="date"], input[type="tel"], input[type="password"], textarea{ width:100%; 
						&.width40{ width:100%; }
						&.width30{ width:100%; }
						&.width80{ width:100%; }
					}	
					.left-container{ float: none; width: 100%; }
					.right-container{ float: none; width: 100%;
						&.width40{ width: 100%;}
						&.width30{ width: 100%;}
					}
				}
			}
			.radioGroup { width:100%;}
			.custom-select{ width:100%;
				&.width20{ width:100%;}
				&.width40{ width:100%;}
				&.width60{ width:100%;}				
			}
			.file-upload{ width:100%; }
			
		}
	}
}	