
.notification-sound{ text-align:right; margin-bottom:1.5vw; font-weight:600; font-size:1.2vw;
	a{
		span{ }	
	}
}

.notification-grid{
	.row{
		.col{ padding:4px;
			.bg-container{ background:$lightblue; @include border-radius(0.4vw); padding:0.5vw 1.4vw;  @extend .clear;
				.left{ width:78%; margin-right:2%;}
				.right{ width:20%; text-align:right;}
				.right-icon{ float:right;}
				
				
				&.white{ background:$white; @include box-shadow(2px, 2px, 10px, 2px, rgba(0,0,0,0.2));}
			}
			&.text-center{
				.bg-container{ padding:0.5vw 1vw; 
					&.small-padding{ padding:0.5vw;}
				}	
			}
			.button{ padding:0.6vw 1vw;}
		}	
	}
	.title{ font-size:1.3vw; color:$white; font-weight:600; margin-bottom:1rem;
		&.small-size{ font-size:1.2vw;}
		.col{ padding:0 4px 4px;}
		.delete{ background:none; text-align:center;
			.icon-delete{ height:3vw; width:2.1vw;}
		}
	}
	.data{ font-size:1.2vw;
		&.small-size{ font-size:1.1vw;}
		.col{ 
			.bg-container{ background:$m-grey;}
		}
		.delete{ background:none; text-align:center;}
		.custom-checkbox{ padding:0.5rem 0;}
		.moderator{ display:inline-block; padding:0.2vw; margin-left:0.6vw; vertical-align:middle; background:$lightpink; color:$white; font-size:1vw; line-height:1; @include border-radius(0.2vw);}
	}
	&.theme-white{
		.data{ font-size:1.2vw;
			.col{ 
				.bg-container{ background:$white;}
			}
		}	
	}
}

.notification-email{ text-align:left; margin:2vw 7%; font-size:1.2vw;
	.custom-checkbox{ padding:0.5rem 0;
		.styled-checkbox + label{ font-weight:700;
			&:before{ margin-right:1rem;}
		}
	}
}

.message-tabs{ @extend .clear;
	.resp-tabs-list{ @extend .clear; margin-bottom:-5px;
		li{ @include border-radius(0.4vw 0.4vw 0 0); float:right; padding:0.5vw 2vw; font-size:1.2vw; text-transform:uppercase; background-color:$lightgrey !important; color:$white !important;
			&.resp-tab-active{ border:0 none; background-color:$grey !important; color:$white !important;}
		}
	}
	.resp-tab-content{ border:0 none;  padding:0; }	
	.resp-tabs-container{ background:none; position:relative; @extend .clear;
		.notification-grid{
			.title{
				.col:last-child{
					.bg-container{ @include border-radius(0.4vw 0 0.4vw 0.4vw);}
				}	
			}	
		}
	}
	
}

.message-chat{ background:$bggrey4; @include border-radius(0.4vw); padding: 2vw; margin-bottom:1.5vw;
	&:nth-child(even){ background:$bggrey;}
	.row{ margin-bottom:1rem;
		.col{}	
	}
	.label{ font-size:1.2vw; font-weight:600; padding-right:2%; position:relative;
		&:after{ content:":"; position:absolute; @include vertical-align; right:15%;}
	}
	.name{ font-size:1.2vw; font-weight:600;}
	.text{ font-size:1.1vw;}
	.date{ font-size:1.2vw; font-weight:600; text-align:right;}
	.delete{ text-align:right;}
}

/*Media query*/
@media #{$desk} {		
	
}	

@media #{$tablet-landscape} {
	
}

@media #{$tablet-portrait} {
	
}
@media #{$mobile} {		
	
}	