
.pick-category{ text-align:right; margin:1rem 0; @extend .clear;
	.custom-select{ width:30%; padding:0.5vw 1vw; line-height:1; border-color:$white; font-size:1.2vw; }	
}

.tab-data{ @extend .clear;
	.resp-tabs-list{ 
		li{ @include box-shadow(4px, 4px, 16px, 2px, rgba(0,0,0,0.3)); @include border-radius(0.4vw 0.4vw 0 0); padding:0.5vw 2vw; font-size:1.2vw; text-transform:uppercase; background-color:$grey !important; color:$white !important;
			&.resp-tab-active{ border:0 none; background-color:$m-grey !important; color:$grey !important;
				span{
					&.icon-favourite{ background-image:url(../images/icon-favourite-grey.svg);}
				}
			}
			span{ margin-right:1rem;}
		}
	}
	.resp-tabs-container{ background:none; position:relative;
		article.course{ width:23%; margin:0 1% 2vw; float:left;
			.article-info{ 
				h4{ font-size:1.3vw; }	
				.author{ font-weight:400; }		
			}
		}
	}
	.resp-tab-content{ border:0 none; background:$white; @extend .clear; font-size:1.2vw; padding:2.5vw 4%; @include box-shadow(4px, 4px, 16px, 2px, rgba(0,0,0,0.3)); @include border-radius(0 0.8vw 0.8vw 0.8vw); }	
}

.search-results{ margin:3vw 0; @extend .clear;
	article.course{ width:23%; margin:0 1% 2vw; float:left;
		.article-info{ 
			h4{ font-size:1.3vw; }	
			.author{ font-weight:400; }		
		}
	}
}

/*Media query*/
@media #{$desk} {		
	
}	

@media #{$tablet-landscape} {
	
}

@media #{$tablet-portrait} {
	
}
@media #{$mobile} {		
	
}	