
.icon-classroom{ padding:0.5vw; background-size:auto 60%; @include border-radius(0.4vw);}

.course-top-buttons{ margin-bottom:2vw;}

.steps-heading{ @extend .clear;
	> span{ float:left; display:block; font-size:1.8vw; padding:0.5vw 1vw; background:$bggrey3; width:20%; margin-right:2%; text-transform:uppercase; font-weight:400; @include box-sizing; @include border-radius(0.4vw);
		&.active{ background-color:$lightpink;}
	}	
}
.steps-copy-text{ font-size:1.2vw;}

/*Modal css*/
.teaching-material-modal{
	.heading__h6{ margin-bottom:2rem;}
	
	.add-material-icons{  margin:2vw 0;	
		li{ padding:2%;}
		figure{ color:$white;
			span.icon{ background:$bggrey3; display:block; position:relative; width:100%; height:0; padding-bottom:100%; background-position:center center; background-repeat:no-repeat; background-size:60% auto; @include border-radius(0.8vw);
				&.icon-video{ background-image:url(../images/icon-video.svg);}
				&.icon-audio{ background-image:url(../images/icon-audio.svg);}
				&.icon-pdf{ background-image:url(../images/icon-pdf.svg);}
				&.icon-text{ background-image:url(../images/icon-text.svg);}
				&.icon-ms-office{ background-image:url(../images/icon-ms-office.svg);}
				&.icon-test{ background-image:url(../images/icon-test.svg);}
			}
			figcaption{ font-size:1.2vw; text-align:center; font-weight:600; margin:1vw 0;}	
		}	
		a.icon-placeholder{
			&.active{ 
				figure{ 
					span.icon{ background-color:$lightpink;}
				}
			}
		}
	}
	
	.form-container{ margin-bottom:2vw;}
}



/*Media query*/
@media #{$desk} {		
	
}	

@media #{$tablet-landscape} {
	
}

@media #{$tablet-portrait} {
	
}
@media #{$mobile} {		
	
}	