
.heading-nav{  text-align:right; margin:1rem 0;
	li{ display:inline-block; padding:0 1vw;
		a{ display:block; font-size:1.2vw; padding:0.8vw 2.4vw; line-height:1; color:$white; @include border-radius(0.4vw); text-transform:uppercase; font-weight:600;
			&.active, &:hover, &:focus{ background-color:$red;}
		}
	}
}

.expert-vs-learner-button{ text-align:center; font-size:1.8vw; font-weight:600; margin-bottom:3vw;
	.switch{ margin:0 2rem;}
}
.member-content-area{
	.date-range{ 
		&.margin-bot { margin-bottom:3vw;}
		.form-container{ @extend .clear;
			.form-element{ width:28%; float:left; margin-right:5%; padding:0;
				label.title{ float:left; margin-right:3%; padding:0.7vw 0; text-transform:uppercase;}
				input[type="text"], input[type="date"], input[type="tel"], input[type="password"], textarea{ float:left; width:70%; padding:0.5vw 1vw; line-height:1; border-color:$white;}
				.custom-select{ float:left; width:70%; padding:0.5vw 1vw; line-height:1; border-color:$white; @extend .small-size;
					&.paddingBig{ padding:1vw;}
				}
				&.full-width{ width:100%; margin:0 0 1rem; float:none;}
			}	
		}	
	}
}

.chart-container{ background:$white; padding:2.5vw 5% 0; margin-bottom:4vw; @include box-shadow(4px, 4px, 16px, 2px, rgba(0,0,0,0.3)); @include border-radius(0.8vw);
	&.no-top-border{ @include border-radius(0 0 0.8vw 0.8vw);}
	
	.chart-header{ margin-bottom:2vw; @extend .clear;
		.heading__h4{ float:left;}
		.chart-select-course{ float:right; @extend .custom-multi-select;}
	}
	
	.chart-canvas{ padding-bottom:2vw; position:relative;
		.value{ position:absolute; left:1%; top:1%; font-size:1.8vw;}
		canvas{ -moz-user-select: none;	-webkit-user-select: none; -ms-user-select: none; width:100%;}
	}
	.chart-details{ @include flexbox; @include align-items(center);
		.chart-info{ width:48%; font-size:1.2vw; margin-right:4%;
			.heading__h4{ margin-bottom:1vw;}
			p{ margin-bottom:1rem;}
			.legend{
				li{ 
					span{ display:inline-block; vertical-align:-0.2vw; width:3rem; height:1.5rem; margin-right:1rem; @include border-radius(0.8vw); background:$fadepink;
						&.completed{ background-color:$pink;}
					}
				}	
			}
		}
		.chart-canvas{ width:30%; @include box-sizing;}
	}
}

/*Media query*/
@media #{$desk} {		
	.heading-nav{ 
		li{ 
			a{ font-size:1.5vw; }
		}
	}
	.expert-vs-learner-button{ font-size:2.1vw;}
}	

@media #{$tablet-landscape} {
	.heading-nav{ margin:0;
		ul{ @include flexbox;}
		li{ @include flex(1); padding:0;
			a{ font-size:2rem; @include border-radius(0); background:$bggrey4; color:$grey; padding:1.5rem; border-bottom:1px solid $white; text-align:center; font-weight:400;
				&.active, &:hover, &:focus{ background-color: $lightgrey;}
			}
			&:nth-child(2){ border:1px solid $white; border-width:0 1px 1px;}
		}
	}
	.expert-vs-learner-button{ font-size:1.8rem; margin: 3rem 0;}
	.member-content-area{
		.date-range{ padding:0 3% 2rem;
			.form-container{ 
				.form-element{ width:48%; margin-right: 2%;
					.custom-select{ border:1px solid $bggrey; padding:1rem;}
				}
			}	
		}
	}
	.chart-container{ @include border-radius(0); @include box-shadow(0, 20px, 30px, rgba(142,142,142,0.2), inset); margin-bottom: 0; padding: 2rem 5%;
		&.no-top-border{ @include border-radius(0);}
		.chart-header{ 
			.heading__h4{ color:$lightpink; font-size:2.2rem;}
			.chart-select-course{
				.fs-wrap{}
				.fs-label-wrap{ background:$fadepink; }	
			}
		}
		.chart-canvas{ 
			.value{ font-size:1.7rem;}
		}
		.chart-details {
			.chart-info{ font-size:1.7rem;}	
		}
	}
}

@media #{$tablet-portrait} {
	.heading-nav{ 
		li{ 
			a{ font-size:1.6rem; }
		}
	}
	.expert-vs-learner-button{ font-size:1.7rem;}
	.member-content-area{
		.date-range{
			.form-container{ 
				.form-element{ width:100%; margin-right: 0;
					label.title{ width:27%; margin-right:3%;}
					
					input[type="text"], input[type="date"], input[type="tel"], input[type="password"], textarea{ width:70%; padding:1rem;}
					.custom-select{ width:70%; }
				}	
			}	
		}
	}
	.chart-container{ 
		.chart-header{ 
			.heading__h4{ font-size:2rem;}
			.chart-select-course{
				.fs-wrap{ width:200px;}
			}
		}
		.chart-canvas{ 
			.value{ font-size:1.6rem;}
		}
		.chart-details {
			.chart-info{ font-size:1.6rem; width: 54%;}	
			.chart-canvas{ width: 40%;}
		}
	}
}
@media #{$mobile} {		
	.chart-container{ 
		.chart-header{ 
			.heading__h4{ font-size:1.8rem; float:none; width:100%;}
			.chart-select-course{
				.fs-wrap{ width:180px;}
			}
		}
		.chart-canvas{ 
			.value{ font-size:1.5rem;}
		}
		.chart-details {
			.chart-info{ font-size:1.4rem;}
		}
	}
}	