
.modal-box{ padding: 3rem; @include box-sizing;  
	&.blue{ background-color:$grey; color:$white;}
	&.green{ background-color:$green; color:$white;}
	
	.modal-container{ @include border-radius(0.8vw); padding:3vw 8%; @include box-shadow(4px, 4px, 16px, rgba(0,0,0,0.3)); background:$white; position:relative;
		&.black{ background:$grey; color:$white;}
	}
	.close-button{ position:absolute; right:1vw; top:1vw; z-index:5;
		.modal-close{ background:url(../images/btn-close.svg) no-repeat center center; background-size:contain; width:2vw; height:2vw; display:inline-block;
			&.white{ background-image:url(../images/btn-close-white.svg);}
		}
	}
	.modal-info{ margin:0 auto; width:84%; font-size:1.8rem;
		.scroll{ max-height:400px; overflow:auto;}			
		p{  margin-bottom: 2rem; font-family:$font-reg;
			&.small{ font-size:1.2rem;}
		}
		ol, ul{ margin-left: 2rem;
			li {  list-style-position: outside; margin-bottom: 1rem;}	
		}
		ul{ list-style-type: disc; margin-top:0.5rem;
			ul { list-style-type: circle;
				ul{ list-style-type: square;
					ul{ list-style-type: upper-alpha;}
				}
			}				
		}
		ol{ list-style-type:decimal;
			ol{ list-style-type: upper-roman;
				ol{ list-style-type: lower-roman;
					ol{ list-style-type: lower-alpha;}
				}
			}
		}
	}	
	
	.checkbox{ color:$white;}
	.radiobutton{ color:$white;}
}

/*Modal forms*/
.modal-forms{ padding: 3rem 25%;
	.heading__h4{ margin-bottom:2vw;}
	.form-container{
		.form-element{ @extend .clear; 
			
			label.title{ float:left; width:22%; margin-right:4%; padding: 1vw 0.3vw 1vw 0; @include box-sizing; position:relative;
				&:after{ content:":"; position:absolute; right:0; @include vertical-align;}
				span{ font-size:1vw;}
			}	
			input[type="text"], input[type="date"], input[type="tel"], input[type="password"], textarea{ float:left; width:74%; background-color:$m-grey; border-color:$m-grey; font-family:$font-reg; font-weight:400;
				&.width40{ width:50%;}
				&.width30{ width:40%;}
				&.width80{ width:74%;}
				&.full-width{ width:100%;}
			}
			.left-container{ float:left; width:26%; }
			.right-container{ float:left; width:74%;
				&.width40{ width:50%;}
				&.width30{ width:40%;}
			}				
		}			
	}	
	.custom-checkbox{
		.styled-checkbox {
			& + label:before { margin-right:1rem;}	
		}	
	}
}

/*Lesson page modal*/
.modal-lesson{ position:relative;
	
	h3{ margin-bottom:2vw;}
	.video-container{ position: relative; width: 100%; height: 0; margin-bottom:2vw; padding-bottom: 56.25%; @include border-radius(0.8vw); overflow:hidden;
		video, iframe{ position: absolute; left:0; top:0; width: 100%; height: 100%;}
	}
	.lesson-info{ font-size:1.2vw; margin-bottom:3vw;
		p{ margin-bottom:1rem;}
	}
	.quick-lesson-info{margin-bottom:0;}
	.more-videos{ 
		h4{ margin-bottom:2vw;}
		
		&.slick-slider{ margin:0; }
		.slick-slide{ padding:1vw;}	
		.slick-dots{ position:static; margin: 2rem 0 0;}
		.slick-prev{ left: -3vw; background-image:url(../images/arrow-left-grey.svg); background-repeat:no-repeat; background-size:contain; width:2vw; height:3.2vw;}
		.slick-next{ right: -3vw; background-image:url(../images/arrow-right-grey.svg);  background-repeat:no-repeat; background-size:contain; width:2vw; height:3.2vw;}
		#cboxClose{ top:3rem; right:3rem;}
	}
}

/*Media query*/
@media #{$desk} {
	.modal-lesson{ 
		.lesson-info{ font-size:1.5vw;}
	}
}	

@media #{$tablet-landscape} {
	.modal-box{ padding:2rem;
		.modal-container{ @include border-radius(1rem); padding:3rem 5%;}
		.modal-info{ font-size:1.7rem;
			.scroll{ max-height:330px;}			
		}	
	}
	.modal-lesson{ 
		.close-button{ top:1rem; right:1rem;}
		h3{ margin-bottom:2rem;}
		.video-container{ margin-bottom:2rem;}
		.lesson-info{ font-size:1.6rem; margin-bottom:2rem;}
		.quick-lesson-info{margin-bottom:0;}
		.more-videos{ 
			h4{ margin-bottom:2rem;}
		}
	}
}

@media #{$tablet-portrait} {
	.modal-box{ 
		.modal-info{ font-size:1.6rem;
			.scroll{ max-height:300px;}			
		}	
	}
	.modal-lesson{ 
		.close-button{ 
			.modal-close{ width:1.5rem; height:1.5rem;}
		}
	}
	#featured-episodes{
      .slick-prev, .slick-next{	margin-top: 0;}
    }
	#quick-lesson-modal{
		.slick-prev, .slick-next{ top: 25%;margin-top: 0;}
	}

}
@media #{$mobile} {		
	.modal-box{ padding:2rem 1rem;}
}		