/*---Pagination---*/

.paginationBlock{ @extend .clear; text-align:right; margin:1rem 0;
	&__perPage{ float:left; font-size:1.2rem; margin-top:0.3rem; color:$black; margin-right:2rem;
		.custom-select{ float:right; width:40px; font-size:1.2rem; background-position:right 8px center;}
	}
	&__displayText{ float:right; font-size:1.2rem; margin-top:0.3rem; color:$black;}
	&__navigation{ float:right; margin-left:2.5rem;
		li{ float: left;}		
	}
	&__navigation-link { font-size:1.4rem; line-height:1; padding: 0.3rem 0; margin: 0 0.5rem; width:2rem; display:block; text-align:center; color:$lightblue;
		&--active{ background-color:$grey; color:$white;}
		&--disabled{ opacity:0.5; cursor:auto;}
		&.first{ background:url(../images/btn-first.svg) center center no-repeat; width:10px; height:10px; padding:0.5rem 0;}
		&.prev{ background:url(../images/btn-prev.svg) center center no-repeat; width:6px; height:10px; padding:0.5rem 0;}
		
		&.next{ background:url(../images/btn-next.svg) center center no-repeat; width:6px; height:10px; padding:0.5rem 0;}
		&.last{ background:url(../images/btn-last.svg) center center no-repeat; width:10px; height:10px; padding:0.5rem 0;}
	}
		
	@media #{$tablet-landscape} {
		float:none;
		&__perPage{ display:none;}
		&__displayText{ float:none; text-align:center; width:100%; font-size:1.6rem; margin-bottom:1rem;}
		&__navigation{ float:none; text-align:center; margin-left:0;
			li{ float:none; display:inline-block;}
		}
		&__navigation-link{ float:left;}
	}
	@media #{$mobile} {
		
	}
}