
.registration-banner{ @extend .clear; position:relative;
	.bg{ background:#f3d4c3; position:absolute; z-index:1; width:100%; height:100%; left:0; top:0;}
	.banner-data{ @extend .clear; position:relative; z-index:2;  @include flexbox;
		.reg-copy{ width:70%; padding:6rem 14% 5rem; @include box-sizing; position:relative; @include flexbox; @include align-items(center);
			&:before {
				content:""; position:absolute; left:0; top:0; width:18%; height:100%; background:url(../images/left-triangle.png) right center no-repeat; background-size:cover;
			}
			&:after {
				content:""; position:absolute; right:0; top:0; width:18%; height:100%; background:url(../images/right-triangle.png) right center no-repeat; background-size:cover;
			}
			h1{ margin-bottom:2rem; font-size:3.9rem;} 
			p{ font-size:2.3rem; font-family:$font-reg; width:70%;}
		}
		.sign-in-container{ background: #012641; color:$white; width:30%; @include box-sizing; padding:6rem 3% 5rem;
			h1{ margin-bottom:2rem; font-size:3rem;} 
			.form-container{
				.form-element{
					input[type="text"],input[type="tel"], input[type="password"], textarea{ padding:1rem;}	
				}	
				.checkbox{ font-size:1.4rem; color:$white;}
			}
			.link{
				a{ color:$white; text-decoration:underline;}	
			}
			.note{ margin:5rem 0 0; font-size:1.4rem;}
		}	
	}
}

.toll-free{ padding:3rem 5%; font-size:2.1rem; text-align:center; font-family:$font-reg;}

.short-forms-container{ 
	padding:10rem 0; @include box-sizing; position:relative; margin:3rem 0;
	&.float-left{ float:left; width:66%; padding-right: 6.5%; padding-left:6.5%; }
	&:after{ content:""; position:absolute; top:5%; height:90%; right:0; width:2px; background:$bggrey;}
	
	p.common-para{ font-size:2.1rem;}
}

/*Media query*/
@media #{$desk} {		
	.registration-banner{
		.banner-data{ 
			.reg-copy{ padding: 5rem 10%;
				&:before{ width:20%; background-size: 100% 100%;}
				&:after{  width:20%; background-size: 100% 100%;}
			}
			.sign-in-container{ }
		}
	}
}	

@media #{$tablet-landscape} {	
	.registration-banner{
		.banner-data{ @include flex-direction(column);
			.reg-copy{ width:100%; padding: 5rem 5%;
				&:before{ display:none;}
				&:after{ display:none;}
				
				h1{ font-size:3rem;} 
				p{ font-size:2.2rem; width:100%;}
			}
			.sign-in-container{ width:100%; padding: 5rem 5%;
				h1{ font-size:3rem;}
			}
		}
	}
	
	.short-forms-container{ padding-top:3rem; padding-bottom:3rem;
		&.float-left{ width:100%; float:none;}
		&:after{ top:100%; height: 2px; right:0; width:100%; }
	}
}

@media #{$tablet-portrait} {
	.registration-banner{
		.banner-data{ 
			.reg-copy{ 				
				h1{ font-size:2.6rem;} 
				p{ font-size:2rem;}
			}
			.sign-in-container{
				h1{ font-size:2.6rem;}
			}
		}
	}
}

@media #{$mobile} {		
	.registration-banner{
		.banner-data{ 
			.reg-copy{ 				
				h1{ font-size:2.3rem;} 
				p{ font-size:1.8rem;}
			}
			.sign-in-container{
				h1{ font-size:2.3rem;}
			}
		}
	}
	.toll-free{ font-size:1.9rem;}
}		