.review_container{
  @include flexbox;@include justify-content(space-between);@include flex-wrap(wrap);padding: 3vw 0 0; color: $white;
  
  .review{ width: 31%; @include border-radius(0.8vw); @include box-shadow(2px, 3px, 16px, rgba(0,0,0,0.3)); background: $black;
    padding: 1.5vw;@include box-sizing;margin-bottom: 2.5vw;@include flexbox; @include align-items(center);
    
	&.lightgrey{ background:$m-grey; color:$grey; @include flex-direction(column); 
		.review-img{ float: none; width:40%; padding-bottom:40%; margin-bottom:1rem;}
		.review-copy{ width: 100%; float: none;}
	}
	
	.review-img{
      width: 27%;float: left;padding-bottom:27%;background-position: top center;background-repeat: no-repeat;background-size: cover;
      @include border-radius(50%);margin-right: 4%;
    }
    .review-copy{
      width: 69%;float: right;
      .star-container{
        li{ display: inline;padding-right: 1.5%;
          img{ width: 8%;}
        }
      }
      .reviewer_name{font-size: 1.25vw; font-weight: 600; padding: 0.5vw 0;}
      .review_comment{font-size: 1vw;font-family: $font-reg;}
    }

  }
}
.review-load-more{
  text-align: center;
  a{ font-size: 1.25vw;font-weight: 600;text-align: center;}
  img{  width: 2%;display: block;margin: 0 auto;}

}

@media #{$laptops} {
  .review_container{
    .review{
      .review-copy {
        .reviewer_name{ font-size: 1.45vw;}
        .review_comment{  font-size: 1.2vw;}
      }
    }
  }
  .review-load-more {
    a{ font-size: 1.45vw;}
  }
}

@media #{$desk} {
  .review_container{
    .review{
      .review-copy {
        .reviewer_name{ font-size: 1.65vw;}
        .review_comment{  font-size: 1.4vw;}
      }
    }
  }
  .review-load-more {
    a{ font-size: 1.65vw;}
  }
}

@media #{$tablet-landscape} {
  .review_container{
    .review{ width: 49%; @include border-radius(1rem); margin-bottom:2rem;
      .review-copy {
        .reviewer_name{ font-size: 1.65rem;}
        .review_comment{  font-size: 1.4rem;}
      }
    }
  }
  .review-load-more {
    a{ font-size: 1.65rem;}
  }
}
@media #{$tablet-portrait} {
  .review_container{
    .review{ width: 100%;padding: 2rem 1.5rem;
      .review-copy {
        .reviewer_name{ font-size: 1.8rem;}
        .review_comment{  font-size: 1.6rem;}
      }
    }
  }
  .review-load-more {
    a{ font-size: 1.8rem;}
	img{ width:2rem;}
  }
}