
.tableBlock {  min-width: 300px; width:100%; @include box-sizing; @include box-shadow(0, 1px, 6px, rgba(0,0,0,0.16)); margin-bottom:3rem;
	
	tr { border-top: 1px solid $bggrey; border-bottom: 1px solid $bggrey; @extend .clear; @include box-sizing; }	
	th { background-color:$lightblue; color:$white; display: table-cell; text-align: center; padding: 2.5rem 1rem; font-family:$font-reg; font-weight:bold;	}
	&__isSortable{ cursor:pointer;}
	
	td { display: table-cell; padding: 2rem 1rem; background:$white; color:$txtgrey; @include box-sizing; text-align: center; cursor:pointer; text-decoration:underline;		
		&:before {
		  content: attr(data-th)": "; display: none; margin-right:0.5rem;
		}
		a{ text-decoration:underline; color:$txtgrey;}
	}
	
	.status{ border:1px solid $grey; width:60%; margin-right:10%; display:inline-block; position:relative; background:$grey; height:1.4rem; @include box-sizing; @include border-radius(10px);
		&__value{ display:block; position:absolute; left:0; top:0; height:100%; background:$grey; @include box-sizing; @include border-radius(10px);}	
	}
	
	@media #{$tablet-landscape} {
		min-width:auto; display:block;
		tbody{ display:block;}
		tr { background-color:$white; margin-bottom:0.5rem; display:block; width:100%; border-top:0 none; padding:0.4rem;
			&:first-child { display:none;}
		}
		th { display: none; }
		td { display: block; padding:0.5rem 1rem; text-align:left;
			&:before { display: inline-block;}		
		}
		.status{ width:50%;}
	}
	
	@media #{$mobile} {
		
	}
}
