/* Scss Document */

.tab-container { margin: 0; position: relative;
	input, section { clear: both; padding-top: 10px; }
	> input{ display: none;}
	section { margin-top:1rem; display: none;}
	> label {
		font-family:$font-reg; font-size: 1.8rem; background:$white; margin-right:1rem; display: block; float: left; padding: 1.2rem 8rem 1.2rem 3rem; @include box-sizing; color: $txtgrey; cursor: pointer; text-decoration: underline; text-align: center; background: #white;
		&:hover{ background: $orange; color:$white; text-decoration:none;}
	}
	
	[id^="tab"]:checked + label {
	  background: $orange; color:$white; text-decoration:none;
	}
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
	display: block; padding: 3rem 0; background: $white; border-bottom: 2px solid $grey;
}

#tabOffers1:checked ~ #offersContent1,
#tabOffers2:checked ~ #offersContent2,
#tabOffers3:checked ~ #offersContent3,
#tabOffers4:checked ~ #offersContent4,
#tabOffers5:checked ~ #offersContent5 {
	display: block; padding: 0; 
}

/*Media query*/
@media #{$desk} {		
	.tab-container { 
		> label { padding: 1.2rem 2rem;}
	}
}	

@media #{$tablet-landscape} {
	.tab-container { 
		> label { padding: 1.2rem 4rem;}
	}
}

@media #{$tablet-portrait} {
	.tab-container { 
		> label { padding: 1.2rem 2rem; font-size: 1.7rem; margin-right:0.5rem;}
	}
}
@media #{$mobile} {		
	.tab-container { 
		> label { padding: 1.2rem 1rem; font-size: 1.6rem;}
	}
}	