.event-name{ padding-bottom: 8vw;
  .event-info{padding: 1vw 0 1.5vw;
    .event-date{ margin-bottom: 1vw;}
    img{ width: 3.5%; height: auto;display: inline-block;vertical-align: middle;}
    .heading__h5{ display: inline-block;vertical-align: middle;padding-left: 1vw;}
  }
  .event-copy{ width: 46%;float: left;
    p{ font-size: 1.2vw;font-family: $font-reg;margin-bottom: 1vw;}
    .button-container{ margin-top: 2.5vw;}
  }
  .event-image{
    width: 47%;float: right;
    img { width: 100%;height: auto;display: block;@include border-radius(0.8vw);}
  }
}
.event-desc{  padding-bottom: 8vw;position: relative;
  &::before { content: ""; pointer-events: none; position: absolute; top: 90%; left: -30%; z-index: -1; width: 160%; height:120%; background: $bggrey2; @include rotate(-25); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
  .event-desc-container{
    @include box-sizing;@include border-radius(0.8vw);@include box-shadow(2px, 3px, 16px, rgba(0,0,0,0.3));background: $white;
    .event-desc-content{ width: 87%;margin: 0 auto; padding: 2vw 0;
      .heading__h4{ margin-bottom: 1vw;}
      p{ font-size: 1.2vw;font-family: $font-reg;margin-bottom: 1vw;}
    }
  }
}

@media #{$laptops} {
  .event-name{
    .event-copy{
      p{ font-size: 1.4vw;}
    }
  }
  .event-desc{
    .event-desc-container{
      .event-desc-content{
        p{ font-size: 1.4vw;}
      }
    }
  }
}

@media #{$desk} {
  .event-name{
    .event-copy{
      p{ font-size: 1.6vw;}
    }
  }
  .event-desc{
    .event-desc-container{
      .event-desc-content{
        p{ font-size: 1.6vw;}
      }
    }
  }
}

@media #{$tablet-landscape} {
  .event-name{
    .event-copy{
      p{ font-size: 1.6rem;}
    }
  }
  .event-desc{
    &::before{ left: -125%;width: 250%;}
    .event-desc-container{
      .event-desc-content{
        p{ font-size: 1.6rem;}
      }
    }
  }
}

@media #{$tablet-portrait} {
  .event-name{
    .event-copy{ width: 100%;float: none;}
    .event-image{ width: 100%;float: none;}
  }
  .event-desc{
    &::before{ top: 0;left: -125%;width: 250%;}
  }
}
